Repository StableLlamaAI/AugmentedQuill: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        # Do not auto-fix in pre-commit; only report issues for manual review
        language_version: python3

  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        # Run black in check-only mode so it does not modify files automatically
        args: ['--check']
        language_version: python3

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: src/frontend/node_modules/.bin/prettier --check
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, scss, markdown, html]
        exclude: ^(.*/)?(node_modules|dist|coverage)/.*$

      - id: eslint
        name: eslint
        language: system
        # Run eslint using the local installation in frontend/node_modules
        # This ensures it uses the correct version and plugins
        entry: src/frontend/node_modules/.bin/eslint --config src/frontend/eslint.config.cjs
        files: ^src/frontend/.*\.(js|jsx|ts|tsx)$

feat(editor): Add debounce functionality to text inputs for improved performance
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/editor/PlainTextEditable.tsx
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/features/story/MetadataEditorDialog.tsx
  src/frontend/utils/hooks.ts
Due: prettier, eslint

feat(sourcebook): Add keywords panel to SourcebookEntryDialog for better keyword management
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
Due: prettier, eslint

feat(sourcebook): Add expandable sections for images and relations in SourcebookEntryDialog
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/features/sourcebook/SourcebookRelationDialog.tsx
Due: prettier, eslint

feat(sourcebook): Enhance SourcebookEntryDialog and SourcebookList with loading states and relation mapping
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/features/sourcebook/SourcebookList.tsx
Due: prettier, eslint

feat(sourcebook): Enhance entry retrieval with relations and support for multiple IDs
  src/augmentedquill/services/chat/chat_tools/sourcebook_tools.py
  src/augmentedquill/services/sourcebook/sourcebook_helpers.py
Due: none

feat(debug): Update LLM logging endpoints and add tests for dynamic log binding
  src/augmentedquill/api/v1/debug.py
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/frontend/services/apiClients/debug.ts
  tests/unit/api/v1/test_debug_api.py
  tests/unit/test_tools_json_sync.py
Due: prettier, eslint

feat(layout): Implement collapsible sections for Story, Chapters, and Sourcebook in AppMainLayout
  src/frontend/App.tsx
  src/frontend/features/chapters/useChapterSuggestions.ts
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/sourcebook/SourcebookList.tsx
  src/frontend/features/story/StoryMetadata.tsx
  src/frontend/types.ts
Due: prettier, eslint

feat(layout): Enhance CollapsibleSection with dynamic height adjustment and resizing support
  src/frontend/features/layout/AppMainLayout.tsx
Due: prettier, eslint

feat(metadata): Remove private_notes from chapter metadata update and tests
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  tests/unit/services/test_chat_tools.py
Due: none

feat(openaiService): add parseToolArguments function to handle JSON with unescaped characters
  src/frontend/services/openaiService.test.ts
  src/frontend/services/openaiService.ts
Due: prettier, eslint

feat(ai): enhance AI action handling with additional parameters for progress and thinking updates - part 1
  resources/config/instructions.json
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/services/llm/llm_stream_ops.py
  src/augmentedquill/services/story/story_api_prompt_ops.py
  src/augmentedquill/services/story/story_api_stream_ops.py
  src/augmentedquill/services/story/story_generation_common.py
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/story/MetadataEditorDialog.tsx
  src/frontend/features/story/StoryMetadata.tsx
  src/frontend/features/story/useAiActions.ts
  src/frontend/services/openaiService.ts
Due: prettier, eslint

feat(story): enhance AI action handling with additional tool parameters and context support
  resources/config/instructions.json
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/core/prompts.py
  src/augmentedquill/services/story/story_api_prompt_ops.py
  src/augmentedquill/services/story/story_api_stream_ops.py
  src/augmentedquill/services/story/story_generation_common.py
Due: prettier

feat(story): enhance chapter summary and AI action handling with new parameters and improved tool instructions
  resources/config/instructions.json
  src/augmentedquill/services/llm/llm_request_helpers.py
  src/augmentedquill/services/sourcebook/sourcebook_helpers.py
  src/augmentedquill/services/story/config_story_ops.py
  src/augmentedquill/services/story/story_api_prompt_ops.py
  src/augmentedquill/services/story/story_api_stream_ops.py
  src/augmentedquill/services/story/story_generation_common.py
  src/frontend/features/story/MetadataEditorDialog.tsx
  src/frontend/features/story/useAiActions.ts
  src/frontend/services/openaiService.ts
  tests/unit/api/v1/test_chat_stream_coverage.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_story_api_prompt_ops.py
Due: prettier, eslint

feat(story): update button styles and text for AI generation sources in MetadataEditorDialog
  src/frontend/features/story/MetadataEditorDialog.tsx
Due: prettier, eslint

test(debugApi): use regex for endpoint matching in log fetch and clear tests
  src/frontend/services/apiClients/debug.test.ts
Due: prettier, eslint

feat(story): add support for story-level notes and private notes in various components
  src/frontend/features/editor/PlainTextEditable.tsx
  src/frontend/features/editor/domUtils.ts
  src/frontend/features/story/MetadataEditorDialog.tsx
  src/frontend/features/story/storyMappers.test.ts
  src/frontend/features/story/storyMappers.ts
  src/frontend/features/story/useStory.test.ts
  src/frontend/features/story/useStory.ts
  src/frontend/services/apiTypes.ts
Due: prettier, eslint

feat(story): add chapter notes support to the story writing
  resources/config/instructions.json
  src/augmentedquill/services/story/story_api_prompt_ops.py
  src/augmentedquill/services/story/story_generation_common.py
  src/frontend/App.tsx
  src/frontend/features/story/useAiActions.ts
  src/frontend/services/openaiService.test.ts
  src/frontend/services/openaiService.ts
Due: prettier, eslint

feat: enhance OpenAI service with cancellation support and add mountedRef utility
  src/frontend/App.tsx
  src/frontend/features/chapters/useChapterSuggestions.ts
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/story/useAiActions.test.tsx
  src/frontend/features/story/useAiActions.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/services/openaiService.ts
  src/frontend/utils/mountedRef.test.ts
  src/frontend/utils/mountedRef.ts
Due: prettier, eslint

feat(settings): enhance prompt overrides management with dropdown selection and cleanup functionality
  docs/user_manual/02_projects_and_settings.md
  src/frontend/features/settings/SettingsDialog.tsx
  src/frontend/features/settings/settings/SettingsPrompts.test.tsx
  src/frontend/features/settings/settings/SettingsPrompts.tsx
Due: prettier, eslint

feat(docs): add comprehensive guide for writing a story to user manual
  docs/user_manual/10_writing_a_story.md
  docs/user_manual/index.md
Due: prettier

Enhance tests
  tests/unit/api/v1/api_test_case.py
  tests/unit/api/v1/chat_stream_test_base.py
  tests/unit/api/v1/test_chat_sessions.py
  tests/unit/api/v1/test_chat_stream_coverage.py
  tests/unit/api/v1/test_chat_stream_credentials.py
  tests/unit/api/v1/test_chat_stream_native_tool_calls.py
  tests/unit/api/v1/test_chat_stream_role_and_sanitization.py
  tests/unit/api/v1/test_checkpoints.py
  tests/unit/api/v1/test_http_responses.py
  tests/unit/api/v1/test_openai_models_proxy.py
  tests/unit/api/v1/test_smoke_workflow.py
  tests/unit/api/v1/test_story_settings.py
  tests/unit/services/test_chat_api_proxy_ops.py
  tests/unit/services/test_chat_api_session_ops.py
  tests/unit/services/test_project_lifecycle_ops.py
  tests/unit/services/test_project_registry_ops.py
  tests/unit/services/test_project_snapshots.py
  tests/unit/services/test_settings_api_ops.py
  tests/unit/services/test_settings_update_ops.py
  tests/unit/test_update_v1_to_v2.py
Due: none

fix failing test
  src/frontend/package-lock.json
Due: prettier

Narrowed broad exception handling in backend chat/settings Added missing frontend feature tests in under-covered chat modules
  src/augmentedquill/api/v1/chapters_routes/mutate.py
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/api/v1/settings.py
  src/augmentedquill/api/v1/story_routes/generation_mutations.py
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/api/v1/story_routes/metadata.py
  src/frontend/features/chat/ToolCallLimitDialog.test.tsx
  src/frontend/features/chat/useChatMessageActions.test.ts
  tests/unit/services/test_image_features.py
Due: prettier, eslint

finish CPT 5.3 codex based refactor
  src/augmentedquill/api/v1/chapters_routes/mutate.py
  src/augmentedquill/api/v1/chapters_routes/read.py
  src/augmentedquill/api/v1/checkpoints.py
  src/augmentedquill/api/v1/request_body.py
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/frontend/features/chat/ModelSelector.test.tsx
  src/frontend/features/chat/useChatSessionManagement.test.ts
  src/frontend/features/projects/useProjectManagement.test.ts
Due: prettier, eslint

claude sonnet 4.6 based refactoring phase 1 and 2
  Dockerfile
  pyproject.toml
  smartQuotes.ts
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/api/v1/checkpoints.py
  src/augmentedquill/services/chat/chat_api_helpers.py
  src/augmentedquill/services/chat/chat_api_stream_ops.py
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/chat/chat_tools/common.py
  src/augmentedquill/services/story/story_generation_common.py
  src/augmentedquill/utils/path_utils.py
  src/frontend/features/editor/Editor.tsx
  src/frontend/testProxy.ts
  src/frontend/types.ts
  tools/debug_search.py
Due: prettier, eslint

phase 3 and phase 4
  src/frontend/features/layout/ThemeContext.test.tsx
  src/frontend/features/layout/ThemeContext.tsx
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/features/sourcebook/SourcebookRelationDialog.tsx
  tests/unit/api/v1/test_settings_machine.py
  tests/unit/services/test_chat_tools.py
  tests/unit/services/test_llm_completion_ops.py
Due: prettier, eslint

phase 5, 6, and 7
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/core/config.py
  src/augmentedquill/services/projects/project_registry_ops.py
  src/augmentedquill/services/settings/settings_api_ops.py
  src/frontend/App.tsx
  src/frontend/features/app/machinePayload.ts
  src/frontend/features/app/useBrowserHistory.ts
  src/frontend/features/app/useEditorUIState.ts
  src/frontend/features/app/useSettingsPersistence.ts
  src/frontend/features/app/useToolCallGate.ts
  src/frontend/features/app/useUIPanels.ts
  tests/unit/core/test_config.py
  tests/unit/services/test_project_registry_ops.py
Due: prettier, eslint

Phase 6.4 and 7.2
  INSTALL.md
  docs/ARCHITECTURE.md
  electron/package.json
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
Due: prettier

Phase 4
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/chat/ModelSelector.tsx
  src/frontend/features/debug/DebugLogs.tsx
  src/frontend/features/projects/CreateProjectDialog.tsx
  src/frontend/features/projects/ProjectImages.tsx
  src/frontend/features/settings/SettingsDialog.tsx
  src/frontend/features/settings/settings/SettingsMachine.tsx
  src/frontend/features/settings/settings/SettingsProjects.tsx
  src/frontend/features/settings/settings/SettingsPrompts.tsx
  src/frontend/features/sourcebook/SourcebookList.tsx
  src/frontend/features/story/StoryMetadata.tsx
Due: prettier, eslint

All 7 phases are done:
  src/frontend/features/projects/CreateProjectDialog.tsx
Due: prettier, eslint

fix broken chat text input caused by refactor
  src/frontend/features/chat/components/ChatComposer.tsx
Due: prettier, eslint

fix undo and redo handling
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/chat/useChatExecution.test.ts
  src/frontend/features/chat/useChatExecution.ts
  src/frontend/features/story/useStory.test.ts
  src/frontend/features/story/useStory.ts
Due: prettier, eslint

add tests for MetadataEditorDialog and implement sync updates on initialData changes, so that an open editor shows them life
  src/frontend/features/story/MetadataEditorDialog.test.tsx
  src/frontend/features/story/MetadataEditorDialog.tsx
Due: prettier, eslint

Fix "[Violation] 'message' handler took ...ms" messages
  src/frontend/features/chapters/useChapterSuggestions.ts
  src/frontend/features/chat/chatContextBudget.test.ts
  src/frontend/features/chat/chatContextBudget.ts
Due: prettier, eslint

Fix chapter context injection ordering and log deep copy
  src/augmentedquill/services/chat/chat_api_stream_ops.py
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/llm/llm_http_ops.py
  src/augmentedquill/services/llm/llm_logging.py
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/chat/chatContextBudget.test.ts
  src/frontend/features/chat/chatContextBudget.ts
  src/frontend/features/chat/useChatExecution.ts
  src/frontend/features/debug/DebugLogs.tsx
  tests/unit/services/test_chat_stream_ops.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_chat_tools.py
  tests/unit/services/test_llm_logging.py
  tests/unit/services/test_tool_parity.py
  tests/unit/services/test_tool_symmetry.py
Due: prettier, eslint

refactor(tools): restructure LLM tool roles, add new capabilities, fix bugs
  .gitignore
  resources/config/instructions.json
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/chat/chat_tools/image_tools.py
  src/augmentedquill/services/chat/chat_tools/order_tools.py
  src/augmentedquill/services/chat/chat_tools/project_tools.py
  src/augmentedquill/services/chat/chat_tools/sourcebook_tools.py
  src/augmentedquill/services/chat/chat_tools/story_tools.py
  src/augmentedquill/services/projects/project_story_ops.py
  src/augmentedquill/services/projects/projects.py
  src/augmentedquill/services/sourcebook/sourcebook_helpers.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_chat_tools.py
  tests/unit/services/test_story_api_prompt_ops.py
  tests/unit/services/test_tool_parity.py
Due: prettier

clarify call_editing_assistant
  resources/config/instructions.json
Due: prettier

tests: add functional test coverage for new/refined tools; fix delete_chapter series bug
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  tests/unit/services/test_tool_parity.py
Due: none

fix: prevent CHAT from abusing call_editing_assistant for analysis tasks
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
Due: prettier

fix: switch web search from duckduckgo_search to ddgs for better results
  pyproject.toml
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/chat/chat_tools/__init__.py
  src/augmentedquill/services/chat/chat_tools/web_search_tools.py
Due: none
