Repository StableLlamaAI/AugmentedQuill: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: src/frontend/node_modules/.bin/prettier --check
  language: system

eslint:
  name: eslint
  language: system
  entry: src/frontend/node_modules/.bin/eslint --config src/frontend/eslint.config.cjs

Update .gitignore
  .gitignore
Due: none

docs: add user manual sections for AI Chat Assistant, Getting Started, Projects and Settings, Sourcebook, Writing Interface, and tutorial
  docs/user_manual/ai_chat_assistant.md
  docs/user_manual/getting_started.md
  docs/user_manual/index.md
  docs/user_manual/projects_and_settings.md
  docs/user_manual/sourcebook.md
  docs/user_manual/tutorial_first_story.md
  docs/user_manual/writing_interface.md
Due: prettier

docs: update color hints and labels for AI models in user manual and header controls
  docs/user_manual/projects_and_settings.md
  src/frontend/features/layout/header/HeaderCenterControls.tsx
  src/frontend/features/settings/settings/SettingsMachine.tsx
Due: prettier, eslint

docs: enhance user manual with icon references for actions and settings
  docs/user_manual/ai_chat_assistant.md
  docs/user_manual/assets/chevron-down.svg
  docs/user_manual/assets/code.svg
  docs/user_manual/assets/eye.svg
  docs/user_manual/assets/file-pen.svg
  docs/user_manual/assets/file-text.svg
  docs/user_manual/assets/pilcrow.svg
  docs/user_manual/assets/plus.svg
  docs/user_manual/assets/search.svg
  docs/user_manual/assets/settings.svg
  docs/user_manual/assets/sparkles.svg
  docs/user_manual/assets/square-split-horizontal.svg
  docs/user_manual/assets/trash-2.svg
  docs/user_manual/assets/type.svg
  docs/user_manual/assets/wand.svg
  docs/user_manual/chapters_and_books.md
  docs/user_manual/projects_and_settings.md
  docs/user_manual/sourcebook.md
  docs/user_manual/tutorial_first_story.md
  docs/user_manual/writing_interface.md
Due: prettier

Add comprehensive user manual sections for AI Chat Assistant, Appearance and Display, and Writing Tutorial
  docs/user_manual/01_getting_started.md
  docs/user_manual/02_projects_and_settings.md
  docs/user_manual/03_writing_interface.md
  docs/user_manual/04_chapters_and_books.md
  docs/user_manual/05_sourcebook.md
  docs/user_manual/06_project_images.md
  docs/user_manual/07_ai_chat_assistant.md
  docs/user_manual/08_appearance_and_display.md
  docs/user_manual/09_tutorial_first_story.md
  docs/user_manual/ai_chat_assistant.md
  docs/user_manual/assets/edit-2.svg
  docs/user_manual/chapters_and_books.md
  docs/user_manual/getting_started.md
  docs/user_manual/index.md
  docs/user_manual/projects_and_settings.md
  docs/user_manual/sourcebook.md
  docs/user_manual/writing_interface.md
Due: prettier

Fix linting and formatting issues
  .github/workflows/build-docker.yml
  .github/workflows/build-electron.yml
  .github/workflows/build-pyinstaller.yml
  Dockerfile
  INSTALL.md
  README.md
  build_backend.py
  docker-compose.yml
  electron/main.js
  electron/package.json
  pyproject.toml
  run_app.py
  src/augmentedquill/services/chat/chat_tool_dispatcher.py
Due: prettier

Little update
  README.md
Due: prettier

Refactor GitHub Actions workflows to trigger on release creation only
  .github/workflows/build-docker.yml
  .github/workflows/build-electron.yml
  .github/workflows/build-pyinstaller.yml
  .github/workflows/create-release.yml
Due: none

ci: create-release use PAT (RELEASE_TOKEN) so release triggers other workflows; add guard
  .github/workflows/create-release.yml
Due: none

fix(docker): copy built frontend from /app/static/dist (vite outDir)
  Dockerfile
Due: none

ci(electron): make package.json version update cross-platform using github-script
  .github/workflows/build-electron.yml
Due: none

Refactor sourcebook helpers and API endpoints for improved clarity and consistency
  src/augmentedquill/api/v1/projects.py
  src/augmentedquill/api/v1/settings.py
  src/augmentedquill/api/v1/sourcebook.py
  src/augmentedquill/api/v1/story_routes/common.py
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/services/chat/chat_api_session_ops.py
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/chat/chat_tools/sourcebook_tools.py
  src/augmentedquill/services/chat/chat_tools_schema.py
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/projects/project_structure_ops.py
  src/augmentedquill/services/projects/projects.py
  src/augmentedquill/services/settings/settings_api_ops.py
  src/augmentedquill/services/settings/settings_machine_ops.py
  src/augmentedquill/services/sourcebook/sourcebook_helpers.py
  src/augmentedquill/services/story/config_story_ops.py
  src/augmentedquill/services/story/story_api_prompt_ops.py
  src/augmentedquill/services/story/story_api_state_ops.py
  src/augmentedquill/utils/llm_utils.py
  src/frontend/features/editor/MarkdownView.tsx
  src/frontend/features/story/MetadataEditorDialog.tsx
  src/frontend/features/story/useStory.ts
  tests/unit/api/v1/test_chat_sessions.py
  tests/unit/api/v1/test_rest_contracts.py
  tests/unit/models/test_sourcebook.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_project_features.py
  tests/unit/services/test_sourcebook_validation.py
  tests/unit/services/test_web_search_features.py
Due: prettier, eslint

Refactor LLM request handling and improve project chapter conflict management
  src/augmentedquill/api/v1/chapters_routes/mutate.py
  src/augmentedquill/api/v1/http_responses.py
  src/augmentedquill/api/v1/settings.py
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/projects/project_chapter_ops.py
  src/frontend/features/chat/useChatExecution.ts
  src/frontend/features/editor/HeaderAppearanceControls.tsx
  src/frontend/features/projects/ProjectImages.tsx
  src/frontend/features/projects/useProjectManagement.ts
  src/frontend/features/settings/SettingsDialog.tsx
  src/frontend/features/settings/settings/SettingsMachine.tsx
  src/frontend/services/apiClients/books.ts
  src/frontend/services/apiClients/projects.ts
  src/frontend/services/apiClients/shared.ts
  tests/unit/services/test_image_features.py
Due: prettier, eslint

Refactor chat tool handling and parsing logic for improved clarity and consistency
  resources/schemas/README.md
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/api/v1/http_responses.py
  src/augmentedquill/api/v1/settings.py
  src/augmentedquill/api/v1/story_routes/common.py
  src/augmentedquill/api/v1/story_routes/generation_mutations.py
  src/augmentedquill/core/config.py
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/chat/chat_tool_dispatcher.py
  src/augmentedquill/services/chat/chat_tools_schema.py
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/llm/llm_stream_ops.py
  src/augmentedquill/utils/llm_parsing.py
  tests/unit/services/test_chat_parser.py
Due: prettier

Refactor error handling to use custom exceptions for improved clarity and maintainability
  src/augmentedquill/api/v1/chapters_routes/mutate.py
  src/augmentedquill/api/v1/settings.py
  src/augmentedquill/api/v1/story_routes/common.py
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/api/v1/story_routes/metadata.py
  src/augmentedquill/main.py
  src/augmentedquill/services/chapters/chapter_helpers.py
  src/augmentedquill/services/chat/chat_api_proxy_ops.py
  src/augmentedquill/services/chat/chat_api_session_ops.py
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/exceptions.py
  src/augmentedquill/services/llm/llm.py
  src/augmentedquill/services/projects/projects_api_asset_ops.py
  src/augmentedquill/services/projects/projects_api_manage_ops.py
  src/augmentedquill/services/projects/projects_api_request_ops.py
  src/augmentedquill/services/story/story_api_state_ops.py
  src/augmentedquill/services/story/story_generation_common.py
Due: none

Fix chat header color
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/chat/components/ChatHeader.tsx
Due: prettier, eslint

Enhance security by validating book_id and ensuring safe directory access in project structure operations
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/projects/project_structure_ops.py
Due: none

Enhance security by validating book_id and implementing path traversal protection in project structure operations
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/projects/project_structure_ops.py
Due: none

Enhance security by masking internal error details and validating book_id against defined story metadata to prevent unauthorized access.
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/llm/llm_stream_ops.py
  src/augmentedquill/services/projects/project_structure_ops.py
Due: none

Fix missing exception messages that hindered debuggability and fix test that had wrong module
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/services/chat/chat_tools/image_tools.py
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/llm/llm_stream_ops.py
Due: none

Enhance error handling by logging exceptions with details and masking internal error messages across chat and story generation streams.
  src/frontend/package-lock.json
Due: prettier

Add skip_validation option to chat stream and logging enhancements
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/services/llm/llm.py
  src/augmentedquill/services/llm/llm_logging.py
  src/augmentedquill/services/llm/llm_stream_ops.py
  src/frontend/features/sourcebook/SourcebookList.tsx
  src/frontend/features/story/useAiActions.ts
Due: prettier, eslint

Enhance LLM logging by preventing duplicate entries and improving log formatting for better readability
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/llm/llm_logging.py
  src/augmentedquill/services/llm/llm_stream_ops.py
Due: none

Refactor launch configuration and enhance LLM logging with reasoning content display
  .vscode/launch.json
  .vscode/tasks.json
  src/augmentedquill/services/llm/llm_logging.py
  src/augmentedquill/services/llm/llm_stream_ops.py
  src/frontend/features/debug/DebugLogs.tsx
Due: prettier, eslint

chore: update Python and Node.js version requirements in documentation and configuration files
  .github/copilot-instructions.md
  .github/workflows/code-quality.yml
  INSTALL.md
  README.md
  pyproject.toml
  src/frontend/package.json
Due: prettier

feat: add provider duplication feature in settings dialog
  docs/user_manual/02_projects_and_settings.md
  docs/user_manual/assets/copy-plus.svg
  src/frontend/features/settings/SettingsDialog.tsx
  src/frontend/features/settings/settings/SettingsMachine.tsx
Due: prettier, eslint

fix: improve model selection handling for ID and name mismatches
  src/frontend/features/chat/ModelSelector.tsx
Due: prettier, eslint

feat: add EPUB export functionality for projects
  docs/user_manual/02_projects_and_settings.md
  pyproject.toml
  src/augmentedquill/api/v1/projects.py
  src/augmentedquill/services/projects/export_epub.py
  src/frontend/features/settings/settings/SettingsProjects.tsx
  src/frontend/services/apiClients/projects.ts
Due: prettier, eslint

Fix CodeQL
  src/augmentedquill/services/projects/export_epub.py
  tests/unit/services/test_epub_export_security.py
Due: none

fix: enhance project export functions with validation and dependency assurance
  src/augmentedquill/services/projects/export_epub.py
  src/augmentedquill/services/projects/projects_api_asset_ops.py
Due: none

fix: correct variable usage in chapter title extraction for EPUB export
  src/augmentedquill/services/projects/export_epub.py
Due: none

fix: correct variable naming in chapter title extraction for EPUB export
  src/augmentedquill/services/projects/export_epub.py
Due: none

Refactor runtime config architecture, expand model preset support, and harden LLM stream error observability
  .gitignore
  README.md
  resources/config/model_presets.json
  resources/schemas/README.md
  resources/schemas/machine.schema.json
  resources/schemas/model_presets.schema.json
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/api/v1/settings.py
  src/augmentedquill/api/v1/sourcebook.py
  src/augmentedquill/core/config.py
  src/augmentedquill/main.py
  src/augmentedquill/services/llm/llm.py
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/llm/llm_stream_ops.py
  src/augmentedquill/services/projects/projects.py
  src/augmentedquill/services/settings/settings_api_ops.py
  src/frontend/App.tsx
  src/frontend/features/app/appSelectors.test.ts
  src/frontend/features/app/appSelectors.ts
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/chapters/useChapterSuggestions.ts
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/chat/ModelSelector.tsx
  src/frontend/features/chat/components/ChatComposer.tsx
  src/frontend/features/chat/useChatExecution.ts
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/layout/AppDialogs.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/header/HeaderCenterControls.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/projects/ProjectImages.tsx
  src/frontend/features/settings/SettingsDialog.tsx
  src/frontend/features/settings/settings/SettingsMachine.tsx
  src/frontend/features/settings/useAppSettings.ts
  src/frontend/features/story/useAiActions.ts
  src/frontend/services/apiClients/machine.ts
  src/frontend/services/apiTypes.ts
  src/frontend/services/openaiService.ts
  src/frontend/types.ts
  tests/unit/api/v1/test_rest_contracts.py
Due: prettier, eslint

Enhance test data safety and LLM capability caching; implement temporary directories for tests and improve model capability verification
  .github/copilot-instructions.md
  src/augmentedquill/core/config.py
  src/augmentedquill/utils/llm_utils.py
  tests/conftest.py
  tests/unit/api/v1/test_rest_contracts.py
  tests/unit/core/test_llm_utils.py
Due: prettier

Add writing warning alerts to active provider indicators in SettingsMachine
  src/frontend/features/settings/settings/SettingsMachine.tsx
Due: prettier, eslint

Enhance AI model handling by adding disabled reasons for unavailable features across chat, editor, and story components
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/chat/components/ChatComposer.tsx
  src/frontend/features/chat/components/ChatHeader.tsx
  src/frontend/features/chat/components/ChatHistoryPanel.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/header/HeaderCenterControls.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/story/MetadataEditorDialog.tsx
  src/frontend/features/story/StoryMetadata.tsx
  src/frontend/features/story/useAiActions.ts
Due: prettier, eslint

Add API client tests for books, chapters, chat, debug, machine, projects, settings, sourcebook, and story
  src/frontend/services/apiClients/books.test.ts
  src/frontend/services/apiClients/chapters.test.ts
  src/frontend/services/apiClients/chat.test.ts
  src/frontend/services/apiClients/debug.test.ts
  src/frontend/services/apiClients/machine.test.ts
  src/frontend/services/apiClients/projects.test.ts
  src/frontend/services/apiClients/settings.test.ts
  src/frontend/services/apiClients/sourcebook.test.ts
  src/frontend/services/apiClients/story.test.ts
Due: prettier, eslint

Enhance chapter suggestion and AI action handling with continuation updates and streaming support
  src/frontend/features/chapters/useChapterSuggestions.ts
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/story/useAiActions.ts
  src/frontend/services/openaiService.ts
Due: prettier, eslint

Add scroll functionality to the editor for improved content navigation
  src/frontend/features/editor/Editor.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$, but not: ^(.*/)?(node_modules|dist|coverage)/.*$
  eslint: any of: ^src/frontend/.*\.(js|jsx|ts|tsx)$
