Repository StableLlamaAI/AugmentedQuill: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: src/frontend/node_modules/.bin/prettier --check
  language: system

eslint:
  name: eslint
  language: system
  entry: src/frontend/node_modules/.bin/eslint --config src/frontend/eslint.config.cjs

Refactor LLM HTTP operations to centralize logging and improve request handling
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/services/chat/chat_api_proxy_ops.py
  src/augmentedquill/services/llm/llm.py
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/llm/llm_http_ops.py
  src/augmentedquill/services/llm/llm_stream_ops.py
  src/augmentedquill/services/settings/settings_machine_ops.py
  src/augmentedquill/utils/llm_utils.py
Due: none

Enhance LLM logging by adding response handling options and tests for log entry creation
  src/augmentedquill/services/llm/llm_http_ops.py
  src/augmentedquill/services/llm/llm_logging.py
  tests/unit/services/test_llm_logging.py
Due: none

Implement caching and coalescing for remote model existence checks; add unit tests for settings machine operations
  src/augmentedquill/api/v1/settings.py
  src/augmentedquill/services/settings/settings_machine_ops.py
  src/frontend/features/settings/useProviderHealth.test.ts
  src/frontend/features/settings/useProviderHealth.ts
  tests/unit/api/v1/test_rest_contracts.py
  tests/unit/services/test_settings_machine_ops.py
Due: prettier, eslint

fix: enhance summary response validation in tool parity tests and mock credential resolution
  tests/unit/services/test_tool_parity.py
Due: none

fix: enhance security by adding type casting and validation for version handling in story config updates
  src/augmentedquill/core/prompts.py
  src/augmentedquill/services/settings/settings_update_ops.py
Due: none

fix: improve editor auto-scrolling behavior and enhance test discovery for component tests
  resources/config/instructions.json
  src/frontend/features/editor/Editor.tsx
  src/frontend/vitest.config.ts
Due: prettier, eslint

feat: implement metadata synchronization logic and add unit tests for computeSyncUpdates
  src/frontend/features/story/MetadataEditorDialog.tsx
  src/frontend/features/story/metadataSync.test.ts
  src/frontend/features/story/metadataSync.ts
Due: prettier, eslint

feat: enhance story suggestion context with additional metadata and background information
  resources/config/instructions.json
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  tests/unit/api/v1/test_story_endpoints.py
Due: prettier

fix: log full traceback in error_detail for HTTP request exceptions
  src/augmentedquill/services/llm/llm_http_ops.py
  tests/unit/services/test_llm_logging.py
Due: none

Refactor LLM HTTP operations and enhance error logging
  build_backend.py
  resources/config/instructions.json
  run_app.py
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/services/chat/chat_tools/image_tools.py
  src/augmentedquill/services/llm/llm.py
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/llm/llm_http_ops.py
  src/augmentedquill/services/llm/llm_stream_ops.py
  src/augmentedquill/services/story/story_api_prompt_ops.py
  src/augmentedquill/services/story/story_api_stream_ops.py
  src/augmentedquill/services/story/story_generation_common.py
  src/augmentedquill/services/story/story_generation_ops.py
  src/frontend/App.tsx
  src/frontend/features/chapters/useChapterSuggestions.ts
  src/frontend/features/debug/DebugLogs.tsx
  src/frontend/features/debug/debugLogs.test.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/sourcebook/SourcebookList.tsx
  src/frontend/features/story/metadataSync.test.ts
  src/frontend/services/apiClients/story.test.ts
  src/frontend/services/apiClients/story.ts
  src/frontend/services/openaiService.test.ts
  src/frontend/services/openaiService.ts
  tests/unit/api/v1/test_chat_stream_coverage.py
  tests/unit/api/v1/test_story_endpoints.py
  tests/unit/services/test_model_routing.py
  tests/unit/services/test_streaming_story.py
  tests/unit/services/test_tool_parity.py
Due: prettier, eslint

refactor: streamline story action streaming by removing persistence logic and updating tests
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/frontend/features/story/useAiActions.ts
  src/frontend/features/story/useStory.ts
  tests/unit/api/v1/test_story_actions.py
Due: prettier, eslint

feat: add Include/Exclude toggle for Sourcebook entries to manage AI context
  docs/user_manual/05_sourcebook.md
  src/frontend/features/sourcebook/SourcebookList.tsx
  tests/unit/services/test_model_routing.py
Due: prettier, eslint

refactor: remove default config path usage and enhance machine config loading
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/api/v1/settings.py
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/core/config.py
  src/augmentedquill/main.py
  src/augmentedquill/services/llm/llm.py
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/llm/llm_stream_ops.py
Due: none

feat: add default machine config for tests and update load_machine_config signature
  tests/conftest.py
  tests/unit/api/v1/test_chat_and_titles.py
Due: none

temp
  tests/conftest.py
Due: none

refactor: improve machine config path resolution and update load_machine_config signature
  src/augmentedquill/core/config.py
Due: none

refactor: enhance error handling and URL validation in LLM operations
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/services/llm/llm_http_ops.py
  src/augmentedquill/services/settings/settings_machine_ops.py
  src/augmentedquill/utils/llm_utils.py
Due: none

feat: implement automatic sourcebook entry selection with UI controls
  docs/user_manual/05_sourcebook.md
  src/frontend/App.tsx
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/chapters/useChapterSuggestions.ts
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/sourcebook/SourcebookList.tsx
Due: prettier, eslint

feat: add caller_id parameter for improved logging in LLM operations
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/services/chat/chat_api_proxy_ops.py
  src/augmentedquill/services/chat/chat_tools/image_tools.py
  src/augmentedquill/services/llm/llm.py
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/llm/llm_http_ops.py
  src/augmentedquill/services/llm/llm_stream_ops.py
  src/augmentedquill/services/settings/settings_machine_ops.py
  src/augmentedquill/services/story/story_api_stream_ops.py
  src/augmentedquill/services/story/story_generation_ops.py
  src/augmentedquill/utils/llm_utils.py
  src/frontend/features/debug/DebugLogs.tsx
  src/frontend/services/apiTypes.ts
  tests/unit/services/test_llm_logging.py
Due: prettier, eslint

feat: inject current chapter context into chat messages for enhanced user experience
  resources/config/instructions.json
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/services/chat/chat_api_stream_ops.py
  src/frontend/App.tsx
  src/frontend/features/chat/useChatExecution.ts
  src/frontend/services/openaiService.ts
Due: prettier, eslint

feat: implement dynamic theming for chat history panel background and session item styles
  src/frontend/features/chat/components/ChatHistoryPanel.tsx
Due: prettier, eslint

feat: enhance chat session ID generation with timestamp for non-incognito chats
  src/frontend/features/chat/useChatSessionManagement.ts
Due: prettier, eslint

feat: enhance editing capabilities by adding call_editing_assistant and call_writing_llm tools; preserve chapter content state in story mapping
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/frontend/features/story/storyMappers.ts
  src/frontend/features/story/useStory.ts
  tests/unit/services/test_chat_tool_contracts.py
Due: prettier, eslint

feat: add replace_text_in_chapter tool for precise text modifications; update instructions for editing tasks
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
Due: prettier

feat: add model_type parameter to LLM functions and update DebugLogs styling for better visualization
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/llm/llm.py
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/llm/llm_http_ops.py
  src/augmentedquill/services/llm/llm_stream_ops.py
  src/augmentedquill/services/story/story_api_prompt_ops.py
  src/augmentedquill/services/story/story_api_stream_ops.py
  src/augmentedquill/services/story/story_generation_common.py
  src/frontend/features/debug/DebugLogs.tsx
Due: prettier, eslint

feat: enhance chapter context injection and error handling; add unit tests for chat stream logic
  .pre-commit-config.yaml
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_api_stream_ops.py
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/frontend/App.tsx
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/story/storyMappers.test.ts
  src/frontend/features/story/storyMappers.ts
  tests/unit/services/test_chat_stream_ops.py
Due: prettier, eslint

fix error reported by GH action
  src/frontend/features/story/storyMappers.ts
Due: prettier, eslint

Undo/redo: This is the first implementation slice.
  src/frontend/App.tsx
  src/frontend/features/layout/AppHeader.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/story/useStory.ts
Due: prettier, eslint

next steps implemented: Done now:
  src/frontend/App.tsx
  src/frontend/features/editor/useAppUiActions.ts
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/sourcebook/SourcebookList.tsx
  src/frontend/features/story/useStory.ts
Due: prettier, eslint

next steps
  src/augmentedquill/api/v1/chat.py
  src/frontend/App.tsx
  src/frontend/features/chat/useChatExecution.ts
  src/frontend/features/story/useStory.ts
  src/frontend/services/apiClients/chat.ts
  src/frontend/services/apiTypes.ts
Due: prettier, eslint

next steps
  src/augmentedquill/api/v1/projects.py
  src/augmentedquill/models/projects.py
  src/augmentedquill/services/projects/projects_api_asset_ops.py
  src/frontend/App.tsx
  src/frontend/features/layout/AppDialogs.tsx
  src/frontend/features/projects/ProjectImages.tsx
  src/frontend/features/projects/useProjectManagement.ts
  src/frontend/services/apiClients/projects.ts
Due: prettier, eslint

Next steps: Current state Undo/redo now covers:
  src/augmentedquill/services/projects/projects_api_asset_ops.py
  src/frontend/features/projects/ProjectImages.tsx
  src/frontend/services/apiClients/projects.ts
Due: prettier, eslint

Undo/redo now covers almost all major mutation classes with either state snapshots or callback-based reversals:
  src/frontend/App.tsx
  src/frontend/features/editor/useAppUiActions.ts
  src/frontend/features/projects/useProjectManagement.ts
Due: prettier, eslint

New tests for image restore/overwrite undo primitives New tests for chat tool batch undo/redo
  tests/unit/services/test_chat_tools.py
  tests/unit/services/test_image_features.py
Due: none

Sourcebook CRUD switched to callback-based undo/redo Chapter/book reorder and book create made backend-reversible
  src/frontend/App.tsx
  src/frontend/features/editor/useAppUiActions.ts
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/sourcebook/SourcebookList.tsx
Due: prettier, eslint

next steps
  src/augmentedquill/api/v1/projects.py
  src/augmentedquill/models/projects.py
  src/augmentedquill/services/projects/projects_api_manage_ops.py
  src/frontend/features/editor/useAppUiActions.ts
  src/frontend/services/apiClients/books.ts
  tests/unit/api/v1/test_projects.py
Due: prettier, eslint

harden to fix CodeQL
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/services/projects/projects_api_asset_ops.py
  src/augmentedquill/services/projects/projects_api_manage_ops.py
Due: none

Enhance application components to support language prop and refresh health functionality
  src/frontend/App.tsx
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/settings/useProviderHealth.ts
  src/frontend/features/story/MetadataEditorDialog.tsx
Due: prettier, eslint

Implement story change mutations for image and project tools; add external entries handling in sourcebook list; increase test coverage
  src/augmentedquill/services/chat/chat_tools/image_tools.py
  src/augmentedquill/services/chat/chat_tools/project_tools.py
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/sourcebook/SourcebookList.tsx
  src/frontend/features/sourcebook/sourcebookExternalEntries.test.ts
  src/frontend/features/story/useStory.test.ts
  src/frontend/features/story/useStory.ts
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_chat_tools.py
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$, but not: ^(.*/)?(node_modules|dist|coverage)/.*$
  eslint: any of: ^src/frontend/.*\.(js|jsx|ts|tsx)$
