Repository StableLlamaAI/AugmentedQuill: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: src/frontend/node_modules/.bin/prettier --check
  language: system

eslint:
  name: eslint
  language: system
  entry: src/frontend/node_modules/.bin/eslint --config src/frontend/eslint.config.cjs

Add Chronological view to scenes
  src/frontend/features/app/locales/de.ts
  src/frontend/features/app/locales/en.ts
  src/frontend/features/app/locales/es.ts
  src/frontend/features/app/locales/fr.ts
  src/frontend/features/scenes/NarrativeView.test.tsx
  src/frontend/features/scenes/NarrativeView.tsx
  src/frontend/features/scenes/SceneCard.test.tsx
  src/frontend/features/scenes/SceneCard.tsx
  src/frontend/features/scenes/ScenesPanelContainer.test.tsx
  src/frontend/features/scenes/ScenesPanelContainer.tsx
Due: prettier, eslint

Fix scene editor
  src/frontend/features/scenes/SceneEditorDialog.tsx
  src/frontend/features/sourcebook/SourcebookHoverCard.tsx
  src/frontend/features/sourcebook/SourcebookListView.tsx
Due: prettier, eslint

Fix scene entries horizontal scroll
  src/frontend/features/scenes/NarrativeView.test.tsx
  src/frontend/features/scenes/NarrativeView.tsx
  src/frontend/features/scenes/ScenesPanelContainer.tsx
Due: prettier, eslint

Refactor LLM tools, implement tools for scene handling
  docs/user_manual/12_search_and_replace.md
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/chat/chat_tools/__init__.py
  src/augmentedquill/services/chat/chat_tools/image_tools.py
  src/augmentedquill/services/chat/chat_tools/project_tools.py
  src/augmentedquill/services/chat/chat_tools/scene_tools.py
  src/augmentedquill/services/chat/chat_tools/search_tools.py
  src/augmentedquill/services/chat/chat_tools/sourcebook_tools.py
  src/augmentedquill/services/chat/chat_tools/story_tools.py
  src/augmentedquill/services/scenes/scene_service.py
  src/augmentedquill/services/story/story_api_prompt_ops.py
  src/frontend/App.tsx
  src/frontend/features/app/useAppChatRuntime.test.ts
  src/frontend/features/app/useAppChatRuntime.ts
  src/frontend/features/chat/Chat.test.tsx
  src/frontend/features/chat/chatExecutionHelpers.test.ts
  src/frontend/features/chat/chatExecutionHelpers.ts
  src/frontend/features/chat/components/MutationTags.test.tsx
  src/frontend/features/chat/components/MutationTags.tsx
  src/frontend/features/chat/mutationToolRegistry.test.ts
  src/frontend/features/chat/mutationToolRegistry.ts
  src/frontend/features/scenes/ScenesPanelContainer.tsx
  src/frontend/features/story/useStory.test.ts
  src/frontend/features/story/useStory.ts
  src/frontend/scripts/checkBundleBudget.mjs
  src/frontend/stores/uiStore.ts
  tests/unit/api/v1/test_chat_stream_role_and_sanitization.py
  tests/unit/api/v1/test_scenes_api.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_chat_tools.py
  tests/unit/services/test_image_features.py
  tests/unit/services/test_scene_service.py
  tests/unit/services/test_scratchpad.py
  tests/unit/services/test_sourcebook_search_refinement.py
  tests/unit/services/test_sourcebook_validation.py
  tests/unit/services/test_story_api_prompt_ops.py
  tests/unit/services/test_story_generation_ops.py
  tests/unit/services/test_tool_parity.py
  tests/unit/services/test_tool_symmetry.py
Due: prettier, eslint

- Fix CHAT based project management - simplify data/time requirements for LLM creating or updating scenes
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/models/scene.py
  src/augmentedquill/services/chat/chat_tools/project_tools.py
  src/augmentedquill/services/chat/chat_tools/scene_tools.py
  src/frontend/features/chat/Chat.test.tsx
  src/frontend/features/chat/ChatContext.tsx
  src/frontend/features/chat/components/ChatMessageItem.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/projects/useProjectManagement.test.ts
  src/frontend/features/projects/useProjectManagement.ts
  src/frontend/features/scenes/SceneEditorDialog.test.tsx
  src/frontend/utils/temporal.test.ts
  src/frontend/utils/temporal.ts
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_chat_tools.py
  tests/unit/services/test_scene_service.py
Due: prettier, eslint

Allow LLM to call tools with only partial temporal information
  src/augmentedquill/models/temporal_utils.py
  src/augmentedquill/services/chat/chat_tools/scene_tools.py
  src/augmentedquill/services/chat/chat_tools/sourcebook_tools.py
  tests/unit/models/test_temporal_utils.py
Due: none

Use numerical IDs for scenes and not UUIDs
  openapi.json
  src/augmentedquill/api/v1/scenes.py
  src/augmentedquill/models/scene.py
  src/augmentedquill/services/chat/chat_tools/scene_tools.py
  src/augmentedquill/services/projects/projects_api_manage_ops.py
  src/augmentedquill/services/scenes/scene_service.py
  src/frontend/App.tsx
  src/frontend/features/app/useAppChatRuntime.test.ts
  src/frontend/features/app/useAppChatRuntime.ts
  src/frontend/features/chat/components/MutationTags.test.tsx
  src/frontend/features/chat/components/MutationTags.tsx
  src/frontend/features/editor/CodeMirrorEditor.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/scenes/ConstraintArrows.tsx
  src/frontend/features/scenes/ConvergenceMapView.tsx
  src/frontend/features/scenes/NarrativeView.test.tsx
  src/frontend/features/scenes/NarrativeView.tsx
  src/frontend/features/scenes/PinboardView.test.tsx
  src/frontend/features/scenes/PinboardView.tsx
  src/frontend/features/scenes/SceneCard.tsx
  src/frontend/features/scenes/SceneEditorDialog.tsx
  src/frontend/features/scenes/ScenesPanelContainer.test.tsx
  src/frontend/features/scenes/ScenesPanelContainer.tsx
  src/frontend/features/scenes/sceneSortUtils.ts
  src/frontend/features/scenes/useSceneLanes.ts
  src/frontend/features/scenes/useSceneProseSync.ts
  src/frontend/features/scenes/useSceneSelection.ts
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/features/sourcebook/SourcebookEntryDialogView.tsx
  src/frontend/services/apiClients/scenes.ts
  src/frontend/stores/storyStore.ts
  src/frontend/stores/uiStore.ts
  src/frontend/types/domain.ts
  tests/unit/api/v1/test_projects.py
  tests/unit/api/v1/test_scenes_api.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_scene_service.py
Due: prettier, eslint

Update instructions for using scenes
  resources/config/instructions.json
  src/frontend/types/api.generated.ts
Due: prettier, eslint

Handle LLM tool calling mistakes
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/chat/chat_tools/metadata_patching.py
  src/augmentedquill/services/chat/chat_tools/scene_tools.py
  src/augmentedquill/services/chat/chat_tools/story_tools.py
  src/augmentedquill/services/scenes/scene_service.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_chat_tools.py
  tests/unit/services/test_scene_service.py
Due: none

Allow to order scene narration even without linked text
  openapi.json
  src/augmentedquill/models/scene.py
  src/augmentedquill/services/scenes/scene_service.py
  src/frontend/features/scenes/NarrativeView.test.tsx
  src/frontend/features/scenes/NarrativeView.tsx
  src/frontend/features/scenes/ScenesPanelContainer.test.tsx
  src/frontend/features/scenes/ScenesPanelContainer.tsx
  src/frontend/features/scenes/sceneSortUtils.ts
  src/frontend/services/apiClients/scenes.ts
  src/frontend/types/api.generated.ts
  src/frontend/types/domain.ts
Due: prettier, eslint

Fix multiple calls to call_writing_llm with append overwriting the prose
  src/frontend/features/app/useAppChatRuntime.ts
  src/frontend/features/chat/chatExecutionHelpers.ts
  src/frontend/features/chat/useChatExecution.ts
  src/frontend/features/scenes/NarrativeView.tsx
  src/frontend/features/scenes/ScenesPanelContainer.tsx
  src/frontend/services/apiClients/chat.test.ts
  src/frontend/services/apiClients/chat.ts
  tests/unit/services/test_chat_tools.py
Due: prettier, eslint

fix broken scene reordering
  src/augmentedquill/api/v1/scenes.py
  tests/unit/api/v1/test_scenes_api.py
Due: none

npm audit fix
  src/frontend/package-lock.json
Due: prettier

Give LLM bette hints about how to use the tools
  resources/config/instructions.json
  src/augmentedquill/models/scene.py
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/chat/chat_tools/metadata_patching.py
  src/augmentedquill/services/chat/chat_tools/scene_tools.py
  src/augmentedquill/services/chat/chat_tools/story_tools.py
  tests/unit/services/test_chat_tool_contracts.py
Due: prettier

implement Convergence Map with time travel aware time line view
  openapi.json
  resources/schemas/story-v4.schema.json
  src/augmentedquill/api/v1/sourcebook.py
  src/augmentedquill/core/config.py
  src/augmentedquill/models/scene.py
  src/augmentedquill/models/sourcebook.py
  src/augmentedquill/models/story.py
  src/augmentedquill/services/scenes/scene_service.py
  src/augmentedquill/services/sourcebook/sourcebook_helpers.py
  src/augmentedquill/updates/migrate_story_v4.py
  src/frontend/features/scenes/ConvergenceMapView.tsx
  src/frontend/features/scenes/SceneEditorDialog.tsx
  src/frontend/features/scenes/convergenceMapTimeline.test.ts
  src/frontend/features/scenes/convergenceMapTimeline.ts
  src/frontend/features/scenes/timelineOptions.test.ts
  src/frontend/features/scenes/timelineOptions.ts
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/features/sourcebook/SourcebookEntryDialogSections.tsx
  src/frontend/features/sourcebook/SourcebookEntryDialogView.tsx
  src/frontend/features/sourcebook/useSourcebookEntryDialogState.ts
  src/frontend/features/story/storyMappers.test.ts
  src/frontend/features/story/storyMappers.ts
  src/frontend/package-lock.json
  src/frontend/services/apiClients/scenes.ts
  src/frontend/stores/storyStore.test.ts
  src/frontend/stores/storyStore.ts
  src/frontend/types/api.generated.ts
  src/frontend/types/domain.ts
  tests/unit/api/v1/test_story_endpoints.py
  tests/unit/services/test_scene_service.py
Due: prettier, eslint

Correct Prose snake
  src/frontend/features/scenes/ConvergenceMapView.tsx
  src/frontend/features/scenes/LaneHeader.tsx
Due: prettier, eslint

Fix time line
  src/frontend/features/scenes/ConvergenceMapView.tsx
Due: prettier, eslint

Fix snake display for time traveled characters
  src/frontend/features/app/locales/de.ts
  src/frontend/features/app/locales/en.ts
  src/frontend/features/app/locales/es.ts
  src/frontend/features/app/locales/fr.ts
  src/frontend/features/scenes/ConvergenceMapView.render.test.tsx
  src/frontend/features/scenes/ConvergenceMapView.test.ts
  src/frontend/features/scenes/ConvergenceMapView.tsx
  src/frontend/features/scenes/SceneEditorDialog.test.tsx
  src/frontend/features/scenes/SceneEditorDialog.tsx
Due: prettier, eslint

Update and enhance documentation
  README.md
  docs/user_manual/01_getting_started.md
  docs/user_manual/02_projects_and_settings.md
  docs/user_manual/03_writing_interface.md
  docs/user_manual/11_writing_a_story.md
  docs/user_manual/13_troubleshooting.md
  docs/user_manual/14_keyboard_shortcuts_and_accessibility.md
  docs/user_manual/index.md
Due: prettier

Clarify that no cloud is required
  README.md
  docs/user_manual/01_getting_started.md
  docs/user_manual/02_projects_and_settings.md
Due: prettier

Enhance the Accessibility
  docs/user_manual/01_getting_started.md
  docs/user_manual/13_troubleshooting.md
  docs/user_manual/14_keyboard_shortcuts_and_accessibility.md
  src/frontend/features/chat/ToolCallLimitDialog.test.tsx
  src/frontend/features/layout/ConfirmDialog.test.tsx
  src/frontend/features/settings/settings/ProviderConfigForm.tsx
  src/frontend/features/settings/settings/ProviderListPanel.tsx
  src/frontend/features/settings/settings/SettingsMachine.test.tsx
  src/frontend/features/settings/settings/SettingsPrompts.tsx
  src/frontend/features/story/MetadataEditorDialog.test.tsx
  src/frontend/index.css
  src/frontend/index.css.test.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/vitest.setup.ts
Due: prettier, eslint

Update models
  docs/user_manual/02_projects_and_settings.md
Due: prettier

Update documentation to give hints about Docker usage
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .github/copilot-instructions.md
  AGENTS.md
  INSTALL.md
  docker-compose.yml
  docs/user_manual/01_getting_started.md
  docs/user_manual/13_troubleshooting.md
  openapi.json
  src/augmentedquill/api/v1/debug.py
  src/augmentedquill/models/debug.py
  src/augmentedquill/models/search.py
  src/augmentedquill/services/debug/__init__.py
  src/augmentedquill/services/debug/connectivity.py
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/llm/llm_http_ops.py
  src/augmentedquill/services/llm/llm_request_helpers.py
  src/augmentedquill/services/llm/llm_stream_ops.py
  src/augmentedquill/services/search/replace_service.py
  src/frontend/features/app/locales/de.ts
  src/frontend/features/app/locales/en.ts
  src/frontend/features/app/locales/es.ts
  src/frontend/features/app/locales/fr.ts
  src/frontend/features/debug/DebugLogs.tsx
  src/frontend/services/apiClients/debug.test.ts
  src/frontend/services/apiClients/debug.ts
  src/frontend/services/apiTypes.ts
  src/frontend/types/api.generated.ts
  tests/unit/api/v1/test_debug_api.py
  tests/unit/services/test_debug_connectivity.py
  tests/unit/services/test_llm_completion_ops.py
  tests/unit/services/test_llm_http_ops.py
Due: prettier, eslint

Better handle possible issues with local model serving
  docs/user_manual/13_troubleshooting.md
  src/augmentedquill/services/debug/connectivity.py
  src/augmentedquill/services/llm/llm_http_ops.py
  tests/unit/services/test_llm_http_ops.py
Due: prettier

Hint in docu about Docker usage and debugability
  docs/user_manual/02_projects_and_settings.md
  docs/user_manual/10_appearance_and_display.md
  docs/user_manual/screenshots/08_debug_connectivity.png
  docs/user_manual/screenshots/08_debug_logs.png
  src/frontend/features/debug/DebugLogs.tsx
  src/frontend/tests/docs-screenshots/capture.spec.ts
Due: prettier, eslint

clarify documentation
  DEVELOPMENT.md
  docs/user_manual/01_getting_started.md
  docs/user_manual/02_projects_and_settings.md
  docs/user_manual/04_chapters_and_books.md
  docs/user_manual/10_appearance_and_display.md
  docs/user_manual/12_scenes_and_annotations.md
  docs/user_manual/13_troubleshooting.md
  docs/user_manual/14_keyboard_shortcuts_and_accessibility.md
  docs/user_manual/index.md
  docs/user_manual/screenshots/03_chapter_ai.png
  docs/user_manual/screenshots/03_continuation.png
  docs/user_manual/screenshots/04_chapters_panel.png
  docs/user_manual/screenshots/04_series_books.png
  docs/user_manual/screenshots/04_sidebar_metadata_dialog.png
  docs/user_manual/screenshots/04_story_metadata.png
  docs/user_manual/screenshots/05_sourcebook_panel.png
  docs/user_manual/screenshots/06_continuation.png
  docs/user_manual/screenshots/07_chat_header.png
  docs/user_manual/screenshots/07_chat_history.png
  docs/user_manual/screenshots/07_chat_panel.png
  docs/user_manual/screenshots/main.png
  src/frontend/index.css
  src/frontend/index.css.test.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$, but not: ^(.*/)?(node_modules|dist|coverage)/.*$
  eslint: any of: ^src/frontend/.*\.(js|jsx|ts|tsx)$
