Repository StableLlamaAI/AugmentedQuill: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        # Do not auto-fix in pre-commit; only report issues for manual review
        language_version: python3

  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        # Run black in check-only mode so it does not modify files automatically
        args: ['--check']
        language_version: python3

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: src/frontend/node_modules/.bin/prettier --check
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, scss, markdown, html]
        exclude: ^(.*/)?(node_modules|dist|coverage)/.*$

      - id: eslint
        name: eslint
        language: system
        # Run eslint using the local installation in frontend/node_modules
        # This ensures it uses the correct version and plugins
        entry: src/frontend/node_modules/.bin/eslint --config src/frontend/eslint.config.cjs
        files: ^src/frontend/.*\.(js|jsx|ts|tsx)$

Allow bigger zip size
  src/frontend/scripts/checkBundleBudget.mjs
Due: prettier

Reenable max-lines-per-function lint rule
  src/frontend/App.tsx
  src/frontend/features/app/useAppChatRuntime.ts
  src/frontend/features/app/useAppControlProps.ts
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/chapters/useChapterSuggestions.ts
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/chat/chatContextBudget.test.ts
  src/frontend/features/chat/components/ChatComposer.tsx
  src/frontend/features/chat/components/ChatMessageItem.tsx
  src/frontend/features/chat/useChatSessionManagement.ts
  src/frontend/features/editor/CodeMirrorEditor.test.tsx
  src/frontend/features/editor/CodeMirrorEditor.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/editor/HeaderAppearanceControls.tsx
  src/frontend/features/editor/MarkdownView.tsx
  src/frontend/features/editor/useAppUiActions.ts
  src/frontend/features/projects/useProjectManagement.ts
  src/frontend/features/search/useSearchReplace.ts
  src/frontend/features/settings/settings/ProviderConfigForm.tsx
  src/frontend/features/settings/settings/SettingsProjects.tsx
  src/frontend/features/settings/settings/SettingsPrompts.tsx
  src/frontend/features/settings/useSettingsDialogProviderValidation.ts
  src/frontend/features/sourcebook/SourcebookEntryDialogView.tsx
  src/frontend/features/story/useStory.test.ts
  src/frontend/features/story/useStory.ts
Due: prettier, eslint

Fix error messages appearing during tests
  src/frontend/vitest.config.ts
  src/frontend/vitest.setup.ts
Due: prettier, eslint

Ease linting pressure on long functions
  src/frontend/eslint.config.cjs
Due: prettier

Remove Deprecated tools
  src/augmentedquill/services/chat/chat_tools/story_tools.py
  src/augmentedquill/services/story/story_api_prompt_ops.py
  src/frontend/features/chat/mutationToolRegistry.ts
  src/frontend/features/chat/useChatExecution.test.ts
Due: prettier, eslint

Fix update_story_metadata
  resources/config/instructions.json
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/chat/chat_tools/metadata_patching.py
  src/augmentedquill/services/chat/chat_tools/sourcebook_tools.py
  src/augmentedquill/services/chat/chat_tools/story_tools.py
  src/augmentedquill/services/projects/projects.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_chat_tools.py
  tests/unit/services/test_metadata_patching.py
Due: prettier

fix more update_chapter_metadata
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/chat/chat_tools/metadata_patching.py
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/chat/mutationToolRegistry.test.ts
  src/frontend/features/chat/mutationToolRegistry.ts
  src/frontend/stores/storyStore.ts
  tests/unit/services/test_chat_tools.py
  tests/unit/services/test_metadata_patching.py
Due: prettier, eslint

fix LLM replace
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/chat/chat_tools/metadata_patching.py
  tests/unit/services/test_chat_tools.py
Due: none

Fix mutation tag and diff view
  src/frontend/features/story/MetadataEditorDialog.test.tsx
  src/frontend/features/story/useMetadataEditorDialogState.ts
Due: prettier, eslint

Invalidate/refresh chat context when the user changes entries that the LLM looked up earlier by a function call
  openapi.json
  src/augmentedquill/models/chat.py
  src/frontend/features/chat/chatExecutionHelpers.test.ts
  src/frontend/features/chat/chatExecutionHelpers.ts
  src/frontend/features/chat/useChatSessionManagement.test.ts
  src/frontend/features/chat/useChatSessionManagement.ts
  src/frontend/services/apiClients/chat.test.ts
  src/frontend/services/apiClients/chat.ts
  src/frontend/stores/chatStore.ts
  src/frontend/types/api.generated.ts
  src/frontend/types/chat.ts
Due: prettier, eslint

Clarify that call_writing_llm is stateless
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/chapter_prose_tools.py
Due: prettier

Allow reading from the end for the LLM tools
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/chat/chat_tools/story_tools.py
  tests/unit/services/test_tool_parity.py
Due: none

Enhance read_story_content tool
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/chapter_prose_tools.py
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/chat/chat_tools/story_tools.py
  src/augmentedquill/services/projects/project_helpers.py
  tests/unit/services/test_chat_tools.py
Due: prettier

Ensure prompts are in instrucions.json
  AGENTS.md
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/chapter_prose_tools.py
  src/augmentedquill/services/chat/chat_tools/image_tools.py
Due: prettier

Remove filename from LLM tools
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/chat/chat_tools/project_tools.py
  src/augmentedquill/services/projects/project_helpers.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_project_features.py
Due: none

Remove in get_project_overview the unneeded content_file
  src/augmentedquill/services/projects/project_helpers.py
  tests/unit/services/test_chat_tool_contracts.py
Due: none

Gemma 4 non thinking optimization
  resources/config/model_presets.json
  src/augmentedquill/utils/llm_parsing.py
  tests/unit/services/test_chat_parser.py
Due: prettier

Fix error message when WRITING is streaming in
  src/frontend/services/apiClients/chat.ts
  src/frontend/stores/chatStore.ts
  src/frontend/stores/storyStore.ts
Due: prettier, eslint

Fix main editor auto scroll
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/editor/hooks/useEditorScroll.test.ts
  src/frontend/features/editor/hooks/useEditorScroll.ts
Due: prettier, eslint

Code clean up
  src/frontend/features/chat/hooks/useChatScroll.ts
  src/frontend/features/editor/hooks/useEditorScroll.ts
  src/frontend/utils/scrollUtils.ts
Due: prettier, eslint

Optimize toolbar responsiveness
  src/frontend/features/app/locales/de.ts
  src/frontend/features/app/locales/en.ts
  src/frontend/features/app/locales/es.ts
  src/frontend/features/app/locales/fr.ts
  src/frontend/features/editor/EditorMobileToolbar.test.tsx
  src/frontend/features/editor/EditorMobileToolbar.tsx
  src/frontend/features/editor/HeaderAppearanceControls.tsx
  src/frontend/features/layout/AppHeader.tsx
  src/frontend/features/layout/header/HeaderCenterControls.tsx
Due: prettier, eslint

Handle not set max_tokens correctly
  src/frontend/features/settings/providerAdapter.test.ts
  src/frontend/features/settings/providerAdapter.ts
Due: prettier, eslint

Change the tool "get_project_overview" to default to show the notes
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/project_tools.py
Due: prettier

Optimize undo/redo button style
  src/frontend/features/layout/AppHeader.tsx
Due: prettier, eslint

Enhance the `call_writing_llm` tool by accepting an additional parameter which is a list of sourcebook entries that the WRITING model will be made aware of.
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/chapter_prose_tools.py
  tests/unit/services/test_chat_tools.py
Due: prettier

Enhance call_writing_llm rewrite; add LLM tool for undo
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/__init__.py
  src/augmentedquill/services/chat/chat_tools/chapter_prose_tools.py
  src/augmentedquill/services/chat/chat_tools/undo_tools.py
  tests/unit/services/test_chat_tools.py
Due: prettier

Fix error message when streaming content
  src/frontend/features/app/useAppChatRuntime.ts
  src/frontend/features/editor/Editor.tsx
  src/frontend/services/apiClients/chat.ts
Due: prettier, eslint

Update version number when making a release
  .github/workflows/create-release.yml
Due: none

try to fix GH error
  tests/unit/services/test_chat_tool_contracts.py
Due: none

Create space for scenes
  src/frontend/App.tsx
  src/frontend/features/app/useAppControlProps.ts
  src/frontend/features/editor/EditorToolbar.tsx
  src/frontend/features/layout/AppChatPanel.tsx
  src/frontend/features/layout/AppHeader.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/AppSidebar.tsx
  src/frontend/features/layout/header/HeaderCenterControls.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/stores/uiStore.ts
Due: prettier, eslint

First round of implementing the Scenes functionality
  openapi.json
  src/augmentedquill/api/v1/scenes.py
  src/augmentedquill/main.py
  src/augmentedquill/models/scene.py
  src/augmentedquill/models/story.py
  src/augmentedquill/services/projects/project_helpers.py
  src/augmentedquill/services/scenes/__init__.py
  src/augmentedquill/services/scenes/scene_service.py
  src/frontend/features/app/locales/de.ts
  src/frontend/features/app/locales/en.ts
  src/frontend/features/app/locales/es.ts
  src/frontend/features/app/locales/fr.ts
  src/frontend/features/editor/CodeMirrorEditor.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/scenes/ConstraintArrows.tsx
  src/frontend/features/scenes/PinboardView.tsx
  src/frontend/features/scenes/SceneCard.tsx
  src/frontend/features/scenes/SceneEditorDialog.test.tsx
  src/frontend/features/scenes/SceneEditorDialog.tsx
  src/frontend/features/scenes/ScenesPanelContainer.test.tsx
  src/frontend/features/scenes/ScenesPanelContainer.tsx
  src/frontend/features/scenes/types.ts
  src/frontend/features/scenes/useSceneProseSync.test.ts
  src/frontend/features/scenes/useSceneProseSync.ts
  src/frontend/features/story/useStory.test.ts
  src/frontend/features/story/useStory.ts
  src/frontend/services/api.ts
  src/frontend/services/apiClients/scenes.test.ts
  src/frontend/services/apiClients/scenes.ts
  src/frontend/services/apiClients/shared.test.ts
  src/frontend/services/apiClients/shared.ts
  src/frontend/stores/storyStore.ts
  src/frontend/types/api.generated.ts
  src/frontend/types/domain.ts
  tests/unit/api/v1/test_scenes_api.py
  tests/unit/services/test_scene_service.py
Due: prettier, eslint

Trying to fix GH release action
  .github/workflows/create-release.yml
Due: none

update chagelog
  CHANGELOG.md
Due: prettier

Pinpoard multi selection and interactive scene highlighting modification
  src/frontend/features/editor/CodeMirrorEditor.test.tsx
  src/frontend/features/editor/CodeMirrorEditor.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/scenes/PinboardView.test.tsx
  src/frontend/features/scenes/PinboardView.tsx
  src/frontend/features/scenes/SceneCard.tsx
  src/frontend/features/scenes/ScenesPanelContainer.test.tsx
  src/frontend/features/scenes/ScenesPanelContainer.tsx
  src/frontend/features/scenes/useSceneProseSync.test.ts
  src/frontend/features/scenes/useSceneProseSync.ts
  src/frontend/types/api.generated.ts
Due: prettier, eslint

Handle scene causes
  src/frontend/features/app/locales/de.ts
  src/frontend/features/app/locales/en.ts
  src/frontend/features/app/locales/es.ts
  src/frontend/features/app/locales/fr.ts
  src/frontend/features/scenes/ConstraintArrows.test.tsx
  src/frontend/features/scenes/ConstraintArrows.tsx
  src/frontend/features/scenes/PinboardView.test.tsx
  src/frontend/features/scenes/PinboardView.tsx
  src/frontend/features/scenes/SceneCard.test.tsx
  src/frontend/features/scenes/SceneCard.tsx
  src/frontend/features/scenes/SceneEditorDialog.test.tsx
  src/frontend/features/scenes/SceneEditorDialog.tsx
  src/frontend/features/scenes/ScenesPanelContainer.test.tsx
  src/frontend/features/scenes/ScenesPanelContainer.tsx
Due: prettier, eslint

Initial implementation of scene Narrative view
  src/frontend/features/app/locales/de.ts
  src/frontend/features/app/locales/en.ts
  src/frontend/features/app/locales/es.ts
  src/frontend/features/app/locales/fr.ts
  src/frontend/features/scenes/ConstraintArrows.tsx
  src/frontend/features/scenes/NarrativeView.tsx
  src/frontend/features/scenes/PinboardView.tsx
  src/frontend/features/scenes/SceneCard.tsx
  src/frontend/features/scenes/ScenesPanelContainer.test.tsx
  src/frontend/features/scenes/ScenesPanelContainer.tsx
  src/frontend/features/scenes/useSceneSelection.ts
  src/frontend/scripts/checkBundleBudget.mjs
Due: prettier, eslint

scenes, narrative view: reorder by dragging
  openapi.json
  src/augmentedquill/api/v1/scenes.py
  src/augmentedquill/core/config.py
  src/augmentedquill/models/scene.py
  src/augmentedquill/services/scenes/scene_service.py
  src/frontend/features/scenes/NarrativeView.test.tsx
  src/frontend/features/scenes/NarrativeView.tsx
  src/frontend/features/scenes/PinboardView.tsx
  src/frontend/features/scenes/ScenesPanelContainer.test.tsx
  src/frontend/features/scenes/ScenesPanelContainer.tsx
  src/frontend/services/api.ts
  src/frontend/services/apiClients/scenes.test.ts
  src/frontend/services/apiClients/scenes.ts
  src/frontend/types/api.generated.ts
  tests/unit/api/v1/test_scenes_api.py
  tests/unit/services/test_scene_service.py
Due: prettier, eslint

Fix scene dragging between chapters/books
  src/augmentedquill/services/scenes/scene_service.py
  src/frontend/features/scenes/NarrativeView.test.tsx
  src/frontend/features/scenes/NarrativeView.tsx
  src/frontend/features/scenes/ScenesPanelContainer.test.tsx
  src/frontend/features/scenes/ScenesPanelContainer.tsx
  tests/unit/api/v1/test_scenes_api.py
  tests/unit/services/test_scene_service.py
Due: prettier, eslint

scenes: ensure undo/redo functions
  src/frontend/features/app/useAppControlProps.ts
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/scenes/ScenesPanelContainer.test.tsx
  src/frontend/features/scenes/ScenesPanelContainer.tsx
Due: prettier, eslint

Add time handling to scenes
  AGENTS.md
  openapi.json
  src/augmentedquill/models/scene.py
  src/augmentedquill/services/scenes/scene_service.py
  src/frontend/features/app/locales/de.ts
  src/frontend/features/app/locales/en.ts
  src/frontend/features/app/locales/es.ts
  src/frontend/features/app/locales/fr.ts
  src/frontend/features/scenes/SceneEditorDialog.test.tsx
  src/frontend/features/scenes/SceneEditorDialog.tsx
  src/frontend/features/scenes/SceneTemporalDialog.test.tsx
  src/frontend/features/scenes/SceneTemporalDialog.tsx
  src/frontend/features/scenes/ScenesPanelContainer.tsx
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/features/sourcebook/SourcebookEntryDialogView.tsx
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/services/apiClients/scenes.ts
  src/frontend/types/api.generated.ts
  src/frontend/types/domain.ts
  src/frontend/utils/temporal.test.ts
  src/frontend/utils/temporal.ts
Due: prettier, eslint
