Repository StableLlamaAI/AugmentedQuill: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: src/frontend/node_modules/.bin/prettier --check
  language: system

eslint:
  name: eslint
  language: system
  entry: src/frontend/node_modules/.bin/eslint --config src/frontend/eslint.config.cjs

trigger building for prerelease as well
  .github/workflows/build-docker.yml
  .github/workflows/build-electron.yml
  .github/workflows/build-pyinstaller.yml
Due: none

trying to fix not running actions
  .github/workflows/build-docker.yml
  .github/workflows/build-electron.yml
  .github/workflows/build-pyinstaller.yml
Due: none

trying to fix actions
  .github/workflows/build-docker.yml
  .github/workflows/build-electron.yml
  .github/workflows/build-pyinstaller.yml
Due: none

fix building
  build_backend.py
  run_app.py
Due: none

fix electron build
  .github/workflows/build-electron.yml
Due: none

add the built Electron files to the release
  .github/workflows/build-electron.yml
Due: none

fix Electron built for windows
  .github/workflows/build-electron.yml
Due: none

fix windows Electron built
  .github/workflows/build-electron.yml
Due: none

Make Docker work directly
  INSTALL.md
  README.md
  src/augmentedquill/main.py
Due: prettier

optimize build to fix Electron publishing
  .github/workflows/build-electron.yml
  .github/workflows/build-pyinstaller.yml
  .github/workflows/create-release.yml
Due: none

fix macos
  .github/workflows/create-release.yml
Due: none

try to fix MacOS build
  electron/package.json
Due: prettier

try to fix MacOS
  electron/package.json
Due: prettier

remove MacOS build as it's too complicated to support
  .github/workflows/create-release.yml
  electron/package.json
Due: prettier

try to fix AppImage Electron
  electron/main.js
Due: prettier

try to fix AppImage Electron even more
  electron/main.js
Due: prettier

Trying to fix AppImage Electron
  .github/workflows/create-release.yml
  build_backend.py
  electron/main.js
  electron/package.json
Due: prettier

try to fix AppImage Electron
  electron/afterPack.js
  electron/package.json
Due: prettier

trying to fix Electron
  electron/main.js
Due: prettier

try to fix Electron
  electron/afterPack.js
Due: prettier

try to fix Electron
  src/augmentedquill/core/config.py
Due: none

tryin to fix Electron
  electron/main.js
Due: prettier

Optimize instructions
  docs/user_manual/04_chapters_and_books.md
  docs/user_manual/07_ai_chat_assistant.md
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
Due: prettier

Fix handling of sourcebook entries with slash
  src/augmentedquill/api/v1/sourcebook.py
  src/frontend/services/apiClients/sourcebook.test.ts
  src/frontend/services/apiClients/sourcebook.ts
  tests/unit/api/v1/test_sourcebook_api.py
Due: prettier, eslint

Make scratchpad local to chat
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/story_tools.py
  src/frontend/App.tsx
  src/frontend/features/chat/useChatExecution.test.ts
  src/frontend/features/chat/useChatExecution.ts
  src/frontend/services/apiClients/chat.ts
  src/frontend/types.ts
  tests/unit/services/test_scratchpad.py
Due: prettier, eslint

Insert chapte notes in writing
  resources/config/instructions.json
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  tests/unit/api/v1/test_story_endpoints.py
Due: prettier

Fix scrolling while writing
  src/frontend/features/editor/Editor.tsx
Due: prettier, eslint

better keyboard handling whith paragraph suggestions
  src/frontend/features/chapters/useChapterSuggestions.ts
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/layout/layoutControlTypes.ts
Due: prettier, eslint

Better newline handling for paragraph suggestions
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  tests/unit/api/v1/test_story_endpoints.py
Due: none

Better handling of quotation marks from the user
  src/frontend/utils/textUtils.test.ts
  src/frontend/utils/textUtils.ts
Due: prettier, eslint

try to fix failing tests
  src/frontend/utils/textUtils.test.ts
Due: prettier, eslint

trying to fix
  src/frontend/package-lock.json
Due: prettier

trying to fix dependencies
  .github/workflows/code-quality.yml
  pyproject.toml
Due: none

Better UX handling of short story type of stories
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/api/v1/story_routes/metadata.py
  src/augmentedquill/services/chapters/chapter_helpers.py
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/chat/chat_tools/story_tools.py
  src/augmentedquill/services/projects/project_chapter_ops.py
  src/augmentedquill/services/projects/project_helpers.py
  src/augmentedquill/services/projects/project_lifecycle_ops.py
  src/augmentedquill/services/projects/project_story_ops.py
  src/augmentedquill/services/projects/projects.py
  src/augmentedquill/services/story/story_api_prompt_ops.py
  src/augmentedquill/services/story/story_generation_common.py
  src/frontend/App.tsx
  src/frontend/features/chapters/useChapterSuggestions.ts
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/projects/useProjectManagement.ts
  src/frontend/features/story/MetadataEditorDialog.test.tsx
  src/frontend/features/story/MetadataEditorDialog.tsx
  src/frontend/features/story/StoryMetadata.tsx
  src/frontend/features/story/metadataSync.ts
  src/frontend/features/story/storyMappers.ts
  src/frontend/features/story/useAiActions.test.tsx
  src/frontend/features/story/useAiActions.ts
  src/frontend/features/story/useStory.test.ts
  src/frontend/features/story/useStory.ts
  src/frontend/services/apiClients/story.test.ts
  src/frontend/services/apiClients/story.ts
  src/frontend/services/apiTypes.ts
  src/frontend/services/openaiService.ts
  src/frontend/types.ts
  tests/unit/api/v1/test_metadata_endpoints.py
  tests/unit/services/test_project_features.py
Due: prettier, eslint

Refine LLM instructions
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/chat/chat_tools/story_tools.py
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/story/StoryMetadata.test.tsx
  src/frontend/features/story/StoryMetadata.tsx
  tests/unit/core/test_prompts.py
  tests/unit/services/test_story_api_prompt_ops.py
Due: prettier, eslint

fix GH errors
  tests/unit/api/v1/test_story_endpoints.py
Due: none

Handle series the same way (generalize)
  resources/config/instructions.json
  src/augmentedquill/services/story/story_api_prompt_ops.py
  src/augmentedquill/services/story/story_api_state_ops.py
  src/augmentedquill/services/story/story_generation_common.py
  src/frontend/features/story/StoryMetadata.tsx
  tests/unit/api/v1/test_story_endpoints.py
  tests/unit/services/test_story_api_prompt_ops.py
Due: prettier, eslint

Potential fix for code scanning alert no. 85: Uncontrolled data used in path expression
  src/augmentedquill/services/projects/projects_api_asset_ops.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$, but not: ^(.*/)?(node_modules|dist|coverage)/.*$
  eslint: any of: ^src/frontend/.*\.(js|jsx|ts|tsx)$
