Repository StableLlamaAI/AugmentedQuill: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        # Do not auto-fix in pre-commit; only report issues for manual review
        language_version: python3

  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        # Run black in check-only mode so it does not modify files automatically
        args: ['--check']
        language_version: python3

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: src/frontend/node_modules/.bin/prettier --check
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, scss, markdown, html]
        exclude: ^(.*/)?(node_modules|dist|coverage)/.*$

      - id: eslint
        name: eslint
        language: system
        # Run eslint using the local installation in frontend/node_modules
        # This ensures it uses the correct version and plugins
        entry: src/frontend/node_modules/.bin/eslint --config src/frontend/eslint.config.cjs
        files: ^src/frontend/.*\.(js|jsx|ts|tsx)$

Update programming LLM instructions
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: prettier

Fix diff highlight of whitespace characters
  src/frontend/features/editor/CodeMirrorEditor.diff.test.tsx
  src/frontend/features/editor/CodeMirrorEditor.tsx
  src/frontend/features/editor/codeMirrorDiffPlugin.ts
  src/frontend/features/editor/codeMirrorWhitespacePlugin.ts
  src/frontend/index.css
Due: prettier, eslint

Fix whitespace intensity when highlighted
  src/frontend/features/editor/CodeMirrorEditor.tsx
Due: prettier, eslint

Fix diff view
  src/frontend/features/editor/CodeMirrorEditor.diff.test.tsx
  src/frontend/features/editor/CodeMirrorEditor.tsx
  src/frontend/features/editor/codeMirrorDiffPlugin.ts
  src/frontend/features/editor/codeMirrorWhitespacePlugin.ts
  src/frontend/index.css
Due: prettier, eslint

Fix selection of text
  src/frontend/features/editor/CodeMirrorEditor.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/editor/codeMirrorWhitespacePlugin.ts
  src/frontend/index.css
Due: prettier, eslint

Add initial changelog
  CHANGELOG.md
Due: prettier

fix GH
  src/frontend/features/editor/Editor.tsx
Due: prettier, eslint

Increase size budget
  src/frontend/scripts/checkBundleBudget.mjs
Due: prettier

Fix space placement in WS mode
  src/frontend/features/editor/CodeMirrorEditor.test.tsx
  src/frontend/features/editor/CodeMirrorEditor.tsx
  src/frontend/features/editor/codeMirrorWhitespacePlugin.ts
  src/frontend/index.css
Due: prettier, eslint

Add screenshots to user documentation
  docs/user_manual/02_projects_and_settings.md
  docs/user_manual/03_writing_interface.md
  docs/user_manual/05_sourcebook.md
  docs/user_manual/12_search_and_replace.md
  docs/user_manual/screenshots/02_create_project_dialog.png
  docs/user_manual/screenshots/02_machine_settings_1.png
  docs/user_manual/screenshots/02_machine_settings_2.png
  docs/user_manual/screenshots/02_machine_settings_3.png
  docs/user_manual/screenshots/03_chapter_ai.png
  docs/user_manual/screenshots/03_continuation.png
  docs/user_manual/screenshots/03_metadata_summary.png
  docs/user_manual/screenshots/05_sourcebook_entry_dialog.png
  docs/user_manual/screenshots/05_sourcebook_panel.png
  docs/user_manual/screenshots/12_search_and_replace_dialog.png
Due: prettier

Update chagelog for 0.9.0
  CHANGELOG.md
Due: prettier

Fix openapi-typescript incompatability with TS6
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/scripts/generateTypes.mjs
Due: prettier

Prevent highlighting when loading
  src/frontend/features/editor/Editor.sync.test.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/story/useStory.test.ts
  src/frontend/features/story/useStory.ts
  src/frontend/package-lock.json
Due: prettier, eslint

Bump release date
  CHANGELOG.md
Due: prettier

Fix undo after (re)load
  src/frontend/features/app/useAppControlProps.ts
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/story/useStory.test.ts
  src/frontend/features/story/useStory.ts
  src/frontend/stores/storyStore.ts
Due: prettier, eslint

try to fix GH complaint
  src/frontend/features/app/useAppControlProps.ts
  src/frontend/features/story/useStory.ts
Due: prettier, eslint

fix cursor shape at chapters
  src/frontend/features/chapters/ChapterList.tsx
Due: prettier, eslint

Try to fix AppImage build
  .github/workflows/create-release.yml
Due: none

formating fix
  .github/workflows/create-release.yml
Due: none

Remove gating of Debug button
  src/frontend/features/editor/HeaderAppearanceControls.test.tsx
  src/frontend/features/editor/HeaderAppearanceControls.tsx
Due: prettier, eslint

UI improvement: all disabling of Provider API key
  src/frontend/features/settings/providerAdapter.test.ts
  src/frontend/features/settings/providerAdapter.ts
  src/frontend/features/settings/settings/ProviderConfigForm.tsx
  src/frontend/features/settings/useProviderHealth.test.ts
  src/frontend/features/settings/useProviderHealth.ts
  src/frontend/features/settings/useSettingsDialogProviderValidation.ts
  src/frontend/types/ui.ts
Due: prettier, eslint

Remove modification tags when changing chat or using undo
  src/frontend/features/chat/useChatSessionManagement.test.ts
  src/frontend/features/chat/useChatSessionManagement.ts
  src/frontend/features/story/useStory.test.ts
  src/frontend/features/story/useStory.ts
Due: prettier, eslint

Optimize startup experience
  src/frontend/stores/uiStore.test.ts
  src/frontend/stores/uiStore.ts
Due: prettier, eslint

fix new line handling
  src/frontend/features/editor/CodeMirrorEditor.test.tsx
  src/frontend/features/editor/CodeMirrorEditor.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/editor/codeMirrorKeymap.test.ts
  src/frontend/features/editor/codeMirrorKeymap.ts
Due: prettier, eslint

Highlight chat JSON
  src/frontend/components/ui/JsonSyntaxView.tsx
  src/frontend/features/chat/components/ChatMessageItem.test.tsx
  src/frontend/features/chat/components/ChatMessageItem.tsx
Due: prettier, eslint

Fix stopping of the chat when it calls another LLM
  src/augmentedquill/api/v1/chat.py
  src/frontend/features/chat/chatExecutionHelpers.ts
  src/frontend/services/apiClients/chat.ts
  src/frontend/services/openaiService.ts
Due: prettier, eslint

Stop LLM generation when stop is pressed
  src/frontend/features/app/useAppChatRuntime.ts
  src/frontend/features/chat/chatExecutionHelpers.ts
  src/frontend/features/editor/Editor.tsx
  src/frontend/services/openaiService.ts
  src/frontend/stores/chatStore.ts
Due: prettier, eslint

Fix CHAPTER AI to keep text when stopping
  src/frontend/features/story/useAiActions.test.tsx
  src/frontend/features/story/useAiActions.ts
Due: prettier, eslint

try to fix GH error message
  src/frontend/features/settings/useProviderHealth.ts
  src/frontend/services/openaiService.ts
Due: prettier, eslint

Fix joining of LLM extension of the prose
  src/augmentedquill/services/chat/chat_tools/chapter_prose_tools.py
  src/frontend/features/story/useAiActions.test.tsx
  src/frontend/features/story/useAiActions.ts
  src/frontend/utils/textUtils.test.ts
  src/frontend/utils/textUtils.ts
  tests/unit/services/test_chat_tools.py
Due: prettier, eslint

Fix auto scroll
  src/frontend/features/app/useAppChatRuntime.ts
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/chat/hooks/useChatScroll.test.ts
  src/frontend/features/chat/hooks/useChatScroll.ts
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/editor/hooks/useEditorScroll.test.ts
  src/frontend/features/editor/hooks/useEditorScroll.ts
  src/frontend/features/story/useAiActions.ts
  src/frontend/stores/storyStore.ts
Due: prettier, eslint

Optimize diff view when the chat does multiple modifiactions
  openapi.json
  src/augmentedquill/models/search.py
  src/augmentedquill/services/chat/chat_tools/search_tools.py
  src/augmentedquill/services/search/replace_service.py
  src/frontend/App.tsx
  src/frontend/features/app/useAppChatRuntime.ts
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/chat/chatExecutionHelpers.ts
  src/frontend/features/chat/mutationToolRegistry.test.ts
  src/frontend/features/chat/mutationToolRegistry.ts
  src/frontend/features/chat/useChatExecution.test.ts
  src/frontend/features/layout/sidebarIntents.ts
  src/frontend/services/apiTypes.ts
  src/frontend/stores/uiStore.ts
  src/frontend/types/api.generated.ts
  tests/unit/services/test_replace_service.py
Due: prettier, eslint

Fix more display of changes
  openapi.json
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/models/chat.py
  src/augmentedquill/services/chat/chat_tools/search_tools.py
  src/augmentedquill/services/search/replace_service.py
  src/frontend/features/app/locales/de.ts
  src/frontend/features/app/locales/en.ts
  src/frontend/features/app/locales/es.ts
  src/frontend/features/app/locales/fr.ts
  src/frontend/features/app/useAppChatRuntime.ts
  src/frontend/features/chat/chatExecutionHelpers.ts
  src/frontend/features/chat/components/MutationTags.tsx
  src/frontend/features/chat/mutationToolRegistry.test.ts
  src/frontend/features/story/useStory.ts
  src/frontend/services/api.ts
  src/frontend/services/apiClients/chat.ts
  src/frontend/services/apiTypes.ts
  src/frontend/stores/storyStore.ts
  src/frontend/types/api.generated.ts
  tests/unit/services/test_replace_service.py
Due: prettier, eslint

Try to fix GitHub error
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/chat/Chat.tsx
Due: prettier, eslint

More lint fixes
  src/frontend/features/editor/codeMirrorKeymap.ts
  src/frontend/features/settings/providerAdapter.ts
Due: prettier, eslint

fix more linting
  src/frontend/App.tsx
  src/frontend/features/chapters/useChapterSuggestions.ts
  src/frontend/features/chat/ModelSelector.tsx
  src/frontend/features/chat/chatContextBudget.ts
  src/frontend/features/chat/components/ChatHeader.tsx
  src/frontend/features/chat/components/MutationTags.tsx
  src/frontend/features/debug/DebugLogs.tsx
  src/frontend/features/editor/MarkdownView.tsx
  src/frontend/features/editor/markdownToolbarUtils.ts
  src/frontend/features/layout/AppDialogs.tsx
  src/frontend/features/layout/CollapsibleSection.tsx
  src/frontend/features/projects/ProjectImages.tsx
  src/frontend/features/search/SearchHighlightContext.tsx
  src/frontend/features/settings/settings/ProviderConfigForm.tsx
  src/frontend/features/settings/settings/SettingsProjects.tsx
  src/frontend/features/settings/settings/SettingsPrompts.tsx
  src/frontend/features/settings/useAppSettings.ts
  src/frontend/features/sourcebook/SourcebookHoverCard.tsx
  src/frontend/features/sourcebook/useSourcebookEntryDialogState.ts
  src/frontend/features/story/useMetadataDialogHistory.ts
  src/frontend/features/story/useMetadataEditorDialogState.ts
  src/frontend/services/apiClients/chat.ts
Due: prettier, eslint

fix more linting
  src/frontend/features/chapters/useChapterSuggestions.ts
  src/frontend/features/chat/ModelSelector.tsx
  src/frontend/features/chat/chatContextBudget.test.ts
  src/frontend/features/chat/components/ChatComposer.tsx
  src/frontend/features/debug/DebugLogs.tsx
  src/frontend/features/editor/CodeMirrorEditor.test.tsx
  src/frontend/features/editor/HeaderAppearanceControls.tsx
  src/frontend/features/editor/MarkdownView.tsx
  src/frontend/features/editor/markdownDecorations.ts
  src/frontend/features/editor/markdownToolbarUtils.test.ts
  src/frontend/features/editor/useAppUiActions.ts
  src/frontend/features/layout/AppHeader.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/header/HeaderCenterControls.tsx
  src/frontend/features/projects/ProjectImages.tsx
  src/frontend/features/projects/useProjectManagement.test.ts
  src/frontend/features/projects/useProjectManagement.ts
  src/frontend/features/search/SearchReplaceDialog.tsx
  src/frontend/features/search/useSearchReplace.test.ts
  src/frontend/features/search/useSearchReplace.ts
  src/frontend/features/settings/settings/ProviderConfigForm.tsx
  src/frontend/features/settings/settings/ProviderListPanel.tsx
  src/frontend/features/settings/settings/SettingsProjects.tsx
  src/frontend/features/settings/settings/SettingsPrompts.tsx
  src/frontend/features/settings/useSettingsDialogProviderValidation.ts
  src/frontend/features/sourcebook/SourcebookEntryDialogView.tsx
  src/frontend/features/sourcebook/SourcebookList.tsx
  src/frontend/features/sourcebook/sourcebookExternalEntries.test.ts
  src/frontend/features/story/MetadataEditorDialog.test.tsx
  src/frontend/features/story/MetadataEditorDialogView.tsx
Due: prettier, eslint

Allow bigger zip size
  src/frontend/scripts/checkBundleBudget.mjs
Due: prettier
