Repository StableLlamaAI/AugmentedQuill: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        # Do not auto-fix in pre-commit; only report issues for manual review
        language_version: python3

  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        # Run black in check-only mode so it does not modify files automatically
        args: ['--check']
        language_version: python3

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: src/frontend/node_modules/.bin/prettier --check
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, scss, markdown, html]
        exclude: ^(.*/)?(node_modules|dist|coverage)/.*$

      - id: eslint
        name: eslint
        language: system
        # Run eslint using the local installation in frontend/node_modules
        # This ensures it uses the correct version and plugins
        entry: src/frontend/node_modules/.bin/eslint --config src/frontend/eslint.config.cjs
        files: ^src/frontend/.*\.(js|jsx|ts|tsx)$

Enforce mandatory category for sourcebook entries; normalize category values and update related tests
  src/augmentedquill/services/chat/chat_tools/sourcebook_tools.py
  src/augmentedquill/services/sourcebook/sourcebook_helpers.py
  tests/unit/models/test_sourcebook.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_sourcebook_validation.py
Due: none

Refactor chat components to improve input handling and message updates; add ToolCallArguments component for better argument display
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/chat/components/ChatComposer.tsx
  src/frontend/features/chat/useChatExecution.ts
  src/frontend/features/editor/MarkdownView.tsx
Due: prettier, eslint

feat: enhance PlainTextEditable with markdown highlighting and whitespace display
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/editor/PlainTextEditable.tsx
  src/frontend/features/editor/domUtils.test.ts
  src/frontend/features/editor/domUtils.ts
  src/frontend/features/editor/markdownToolbarUtils.test.ts
  src/frontend/features/editor/markdownToolbarUtils.ts
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
Due: prettier, eslint

fix: improve link and image insertion handling in editor
  src/frontend/features/editor/Editor.tsx
Due: prettier, eslint

fix: update image handling in MarkdownView and PlainTextEditable for improved rendering and previews
  src/frontend/features/editor/MarkdownView.tsx
  src/frontend/features/editor/PlainTextEditable.tsx
Due: prettier, eslint

fix: enhance WYSIWYG selection handling and improve HTML insertion logic
  src/frontend/features/editor/Editor.tsx
Due: prettier, eslint

fix: add image handling to sourcebook entry creation and update, including validation tests
  src/augmentedquill/services/chat/chat_tools/sourcebook_tools.py
  src/augmentedquill/services/sourcebook/sourcebook_helpers.py
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  tests/unit/services/test_sourcebook_validation.py
Due: prettier, eslint

fix: optimize chat scroll handling by removing unnecessary frame requests and adjusting scroll threshold
  src/frontend/features/chat/Chat.tsx
Due: prettier, eslint

fix: implement smart quotes functionality across text inputs and textareas, including tests for quote conversion
  smartQuotes.ts
  src/frontend/features/projects/CreateProjectDialog.tsx
  src/frontend/features/settings/settings/SettingsMachine.tsx
  src/frontend/features/settings/settings/SettingsPrompts.tsx
  src/frontend/index.tsx
  src/frontend/services/openaiService.ts
  src/frontend/testProxy.ts
  src/frontend/utils/textUtils.test.ts
  src/frontend/utils/textUtils.ts
Due: prettier, eslint

fix: add recheckUnavailableProviderIfStale functionality to provider health management and update related components
  src/frontend/App.tsx
  src/frontend/features/chat/ModelSelector.tsx
  src/frontend/features/layout/header/HeaderCenterControls.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/settings/useProviderHealth.ts
Due: prettier, eslint

fix: enhance parameter validation in chat tool wrapper and add tests for unknown and missing keys
  src/augmentedquill/services/chat/chat_tool_decorator.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_tool_parity.py
Due: none

fix: add documentation comments to various utility files for better clarity and maintainability
  smartQuotes.ts
  src/frontend/features/editor/domUtils.test.ts
  src/frontend/features/editor/domUtils.ts
  src/frontend/features/story/storyMappers.test.ts
  src/frontend/package-lock.json
  src/frontend/testProxy.ts
Due: prettier, eslint

Enhance project and story tools with role-based access and improved descriptions
  docs/user_manual/01_getting_started.md
  docs/user_manual/02_projects_and_settings.md
  docs/user_manual/03_writing_interface.md
  docs/user_manual/04_chapters_and_books.md
  docs/user_manual/05_sourcebook.md
  docs/user_manual/07_ai_chat_assistant.md
  docs/user_manual/09_tutorial_first_story.md
  resources/config/instructions.json
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/api/v1/story_routes/generation_streaming.py
  src/augmentedquill/services/chat/chat_api_stream_ops.py
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/chat/chat_tool_dispatcher.py
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/chat/chat_tools/image_tools.py
  src/augmentedquill/services/chat/chat_tools/order_tools.py
  src/augmentedquill/services/chat/chat_tools/project_tools.py
  src/augmentedquill/services/chat/chat_tools/sourcebook_tools.py
  src/augmentedquill/services/chat/chat_tools/story_tools.py
  src/augmentedquill/services/llm/llm.py
  src/augmentedquill/services/story/story_api_prompt_ops.py
  src/augmentedquill/services/story/story_generation_common.py
  src/frontend/features/chat/components/ChatComposer.tsx
  src/frontend/features/projects/CreateProjectDialog.tsx
  src/frontend/features/settings/settings/SettingsMachine.tsx
  src/frontend/features/settings/settings/SettingsPrompts.tsx
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/features/story/MetadataEditorDialog.tsx
  tests/unit/api/v1/test_chat_stream_coverage.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_chat_tools.py
Due: prettier, eslint

feat: enhance project overview and story content tools with paging and notes options
  resources/config/instructions.json
  src/augmentedquill/main.py
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/chat/chat_tools/project_tools.py
  src/augmentedquill/services/chat/chat_tools/story_tools.py
  src/augmentedquill/services/projects/project_helpers.py
  tests/unit/services/test_tool_parity.py
  tests/unit/test_tools_json_sync.py
  tools.json
  tools/generate_tools_json.py
Due: prettier

feat: add targeted editing tools for chapter content with marker insertion and multiple replacements
  docs/user_manual/07_ai_chat_assistant.md
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_tool_parity.py
Due: prettier

feat: add context window tokens support and implement chat context budgeting
  resources/schemas/machine.schema.json
  src/augmentedquill/services/settings/settings_api_ops.py
  src/frontend/App.tsx
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/chat/chatContextBudget.test.ts
  src/frontend/features/chat/chatContextBudget.ts
  src/frontend/features/chat/components/ChatHeader.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/features/settings/SettingsDialog.tsx
  src/frontend/features/settings/settings/SettingsMachine.tsx
  src/frontend/services/apiTypes.ts
  src/frontend/services/openaiService.ts
  src/frontend/types.ts
Due: prettier, eslint

feat: add support for notes in project overview and corresponding tests
  src/augmentedquill/services/projects/project_helpers.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_project_features.py
Due: none

feat: enhance chat context handling with improved tool call argument parsing and prefix management
  src/frontend/features/chat/chatContextBudget.test.ts
  src/frontend/features/chat/chatContextBudget.ts
  src/frontend/features/settings/SettingsDialog.tsx
Due: prettier, eslint

feat: remove conflicts from project overview and update related tests
  src/augmentedquill/services/projects/project_helpers.py
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/chat/components/ChatHeader.tsx
  tests/unit/services/test_project_features.py
Due: prettier, eslint

feat: add checkpoints router to the API v1 router
  src/augmentedquill/main.py
Due: none

feat: implement checkpoints functionality with API endpoints and frontend integration
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/api/v1/checkpoints.py
  src/augmentedquill/services/projects/project_snapshots.py
  src/frontend/features/checkpoints/CheckpointsMenu.tsx
  src/frontend/features/layout/AppHeader.tsx
  src/frontend/services/api.ts
  src/frontend/services/apiClients/checkpoints.ts
  tests/unit/api/v1/test_checkpoints.py
Due: prettier, eslint

feat: add context window tokens handling in useAppSettings
  src/frontend/features/settings/useAppSettings.ts
Due: prettier, eslint

feat: enhance confirmation dialog integration in CheckpointsMenu and AppHeader
  src/frontend/App.tsx
  src/frontend/features/checkpoints/CheckpointsMenu.tsx
  src/frontend/features/layout/AppHeader.tsx
  src/frontend/features/layout/ConfirmDialog.tsx
  src/frontend/features/layout/useConfirmDialog.ts
Due: prettier, eslint

Add test and documentation
  docs/user_manual/02_projects_and_settings.md
  src/frontend/features/checkpoints/CheckpointsMenu.test.tsx
Due: prettier, eslint

Fix applied: CodeQL “path traversal” security alert
  src/augmentedquill/api/v1/checkpoints.py
Due: none

hardened checkpoint/path handling
  src/augmentedquill/api/v1/checkpoints.py
  src/augmentedquill/services/projects/project_snapshots.py
Due: none

more Security Hardening Updates
  src/augmentedquill/api/v1/checkpoints.py
Due: none

Deep Security Hardening
  src/augmentedquill/services/projects/project_snapshots.py
Due: none

even more aggressive and explicit security hardening
  src/augmentedquill/api/v1/checkpoints.py
  src/augmentedquill/services/projects/project_snapshots.py
Due: none

I added stable id attributes to the main DOM containers that represent core UI areas, making it easier to map rendered elements back to their source components when inspecting the DOM.
  src/frontend/App.tsx
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/layout/AppHeader.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/projects/ProjectImages.tsx
  src/frontend/features/settings/SettingsDialog.tsx
  src/frontend/features/sourcebook/SourcebookList.tsx
  src/frontend/features/story/StoryMetadata.tsx
Due: prettier, eslint

Tool-call instructions now explicitly require typographic quotation marks for JSON-safe text.
  resources/config/instructions.json
Due: prettier

enhance auto repair when the LLM does bad quotation mark calls
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/utils/json_repair.py
  src/augmentedquill/utils/llm_parsing.py
  tests/unit/utils/test_json_repair.py
Due: none

Handle better function call of LLM
  src/augmentedquill/services/llm/llm_completion_ops.py
  src/augmentedquill/services/llm/llm_request_helpers.py
  src/augmentedquill/services/llm/llm_stream_ops.py
  src/augmentedquill/utils/llm_parsing.py
  tests/unit/api/v1/test_chat_stream_coverage.py
  tests/unit/services/test_chat_parser.py
Due: none

Add LLM internal scratchpad
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/story_tools.py
  src/augmentedquill/services/projects/project_story_ops.py
  src/augmentedquill/services/projects/projects.py
  src/frontend/features/chat/chatContextBudget.test.ts
  src/frontend/features/chat/chatContextBudget.ts
  tests/unit/services/test_scratchpad.py
Due: prettier, eslint

Make search_sourcebook tool to be more efficient
  src/augmentedquill/services/chat/chat_tools/sourcebook_tools.py
  tests/unit/api/v1/test_checkpoints.py
  tests/unit/services/test_sourcebook_search_refinement.py
Due: none

feat(sourcebook): Enhance keyword generation and search functionality
  resources/config/instructions.json
  src/augmentedquill/api/v1/sourcebook.py
  src/augmentedquill/services/chat/chat_tools/sourcebook_tools.py
  src/augmentedquill/services/sourcebook/sourcebook_helpers.py
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/features/sourcebook/SourcebookList.tsx
  src/frontend/services/apiClients/sourcebook.ts
  src/frontend/services/apiTypes.ts
  src/frontend/types.ts
  tests/unit/api/v1/test_sourcebook_api.py
  tests/unit/models/test_sourcebook.py
  tests/unit/services/test_sourcebook_keyword_generation_flow.py
  tests/unit/services/test_sourcebook_search_refinement.py
  tests/unit/services/test_sourcebook_validation.py
Due: prettier, eslint

feat(sourcebook): Implement filtering for sourcebook entries and sanitize responses - fix filter
  src/augmentedquill/services/chat/chat_tools/sourcebook_tools.py
  src/frontend/features/sourcebook/SourcebookList.tsx
  src/frontend/features/sourcebook/sourcebookExternalEntries.test.ts
  tests/unit/services/test_sourcebook_search_refinement.py
Due: prettier, eslint

feat(sourcebook): Add endpoint for generating keywords from entry description
  src/augmentedquill/api/v1/sourcebook.py
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/services/apiClients/sourcebook.test.ts
  src/frontend/services/apiClients/sourcebook.ts
  tests/unit/api/v1/test_sourcebook_api.py
Due: prettier, eslint

feat(typography): Implement language-specific typographic quotes handling and updates across the application
  resources/config/instructions.json
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/utils/json_repair.py
  src/frontend/features/settings/usePrompts.ts
  src/frontend/utils/textUtils.test.ts
  src/frontend/utils/textUtils.ts
  tests/unit/utils/test_json_repair.py
Due: prettier, eslint

feat(sourcebook): Enhance sourcebook relations management and UI integration
  resources/schemas/story-v2.schema.json
  src/augmentedquill/api/v1/sourcebook.py
  src/augmentedquill/services/chat/chat_tools/sourcebook_tools.py
  src/augmentedquill/services/sourcebook/sourcebook_helpers.py
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/features/sourcebook/SourcebookRelationDialog.tsx
  src/frontend/services/apiTypes.ts
  src/frontend/types.ts
Due: prettier, eslint
