Repository StableLlamaAI/AugmentedQuill: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        # Do not auto-fix in pre-commit; only report issues for manual review
        language_version: python3

  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        # Run black in check-only mode so it does not modify files automatically
        args: ['--check']
        language_version: python3

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: src/frontend/node_modules/.bin/prettier --check
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, scss, markdown, html]
        exclude: ^(.*/)?(node_modules|dist|coverage)/.*$

      - id: eslint
        name: eslint
        language: system
        # Run eslint using the local installation in frontend/node_modules
        # This ensures it uses the correct version and plugins
        entry: src/frontend/node_modules/.bin/eslint --config src/frontend/eslint.config.cjs
        files: ^src/frontend/.*\.(js|jsx|ts|tsx)$

Refactor SettingsDialog and SettingsMachine components for improved model handling and UI enhancements
  src/frontend/features/settings/SettingsDialog.tsx
  src/frontend/features/settings/settings/SettingsMachine.tsx
Due: prettier, eslint

refactor(editor): replace contenteditable with CodeMirror 6
  src/frontend/features/editor/CodeMirrorEditor.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/editor/PlainTextEditable.tsx
  src/frontend/features/editor/domUtils.test.ts
  src/frontend/features/editor/domUtils.ts
  src/frontend/features/editor/markdownToolbarUtils.test.ts
  src/frontend/features/editor/markdownToolbarUtils.ts
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/features/story/MetadataEditorDialog.tsx
  src/frontend/index.html
  src/frontend/package-lock.json
  src/frontend/package.json
Due: prettier, eslint

fix space rendering
  src/frontend/features/editor/CodeMirrorEditor.tsx
  src/frontend/features/editor/Editor.tsx
Due: prettier, eslint

test(editor): add CodeMirrorEditor tests and expand markdownToolbarUtils coverage
  src/frontend/features/editor/CodeMirrorEditor.test.tsx
  src/frontend/features/editor/markdownToolbarUtils.test.ts
Due: prettier, eslint

fix(editor): preserve table markdown through wysiwyg-to-raw mode switch and add regression tests
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/editor/turndown.test.tsx
  src/frontend/features/editor/turndown.ts
Due: prettier, eslint

Fix space rendering in Raw with WS active
  src/frontend/features/editor/CodeMirrorEditor.test.tsx
  src/frontend/features/editor/CodeMirrorEditor.tsx
  src/frontend/features/editor/Editor.tsx
Due: prettier, eslint

Fix cursor positioning
  src/frontend/features/editor/CodeMirrorEditor.test.tsx
  src/frontend/features/editor/CodeMirrorEditor.tsx
Due: prettier, eslint

feat(editor): add strikethrough, subscript, superscript, footnote, fenced-code-block, move image button to toolbar
  src/frontend/App.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/editor/MarkdownView.tsx
  src/frontend/features/editor/configureMarked.ts
  src/frontend/features/editor/markdownToolbarUtils.ts
  src/frontend/features/editor/turndown.test.tsx
  src/frontend/features/editor/turndown.ts
  src/frontend/features/layout/AppHeader.tsx
  src/frontend/features/layout/header/HeaderCenterControls.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/index.html
Due: prettier, eslint

fix(security): sanitize URL inputs before passing to createLink/insertImage
  src/frontend/features/editor/Editor.tsx
Due: prettier, eslint

try to fix https://github.com/StableLlamaAI/AugmentedQuill/security/code-scanning/128
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/editor/Editor.url.test.ts
Due: prettier, eslint

trying to fix https://github.com/StableLlamaAI/AugmentedQuill/security/code-scanning/128
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/editor/Editor.url.test.ts
Due: prettier, eslint

next try to fix
  src/frontend/features/editor/turndown.test.tsx
  src/frontend/features/editor/turndown.ts
Due: prettier, eslint

better dynamic screen width handling
  src/frontend/features/editor/HeaderAppearanceControls.tsx
  src/frontend/features/layout/AppHeader.tsx
  src/frontend/features/layout/header/HeaderCenterControls.tsx
Due: prettier, eslint

update documentation
  docs/user_manual/01_getting_started.md
  docs/user_manual/03_writing_interface.md
Due: prettier

update documentation with icons
  docs/user_manual/03_writing_interface.md
  docs/user_manual/06_project_images.md
  docs/user_manual/07_ai_chat_assistant.md
  docs/user_manual/08_appearance_and_display.md
  docs/user_manual/assets/alert-triangle.svg
  docs/user_manual/assets/arrow-right-left.svg
  docs/user_manual/assets/arrow-right.svg
  docs/user_manual/assets/chevron-right.svg
  docs/user_manual/assets/download.svg
  docs/user_manual/assets/edit.svg
  docs/user_manual/assets/ghost.svg
  docs/user_manual/assets/globe.svg
  docs/user_manual/assets/grip-horizontal.svg
  docs/user_manual/assets/history.svg
  docs/user_manual/assets/link.svg
  docs/user_manual/assets/loader-2.svg
  docs/user_manual/assets/refresh-cw.svg
  docs/user_manual/assets/save.svg
  docs/user_manual/assets/send.svg
  docs/user_manual/assets/settings-2.svg
  docs/user_manual/assets/tag.svg
  docs/user_manual/assets/wand-2.svg
  docs/user_manual/assets/x.svg
Due: prettier

optimize handler display
  src/frontend/features/layout/AppMainLayout.tsx
Due: prettier, eslint

upgrade vite
  src/frontend/package-lock.json
  src/frontend/package.json
Due: prettier

add about to settings
  docs/user_manual/02_projects_and_settings.md
  src/frontend/features/settings/SettingsDialog.tsx
  src/frontend/vite.config.ts
Due: prettier, eslint

fix TypeScript error
  .vscode/settings.json
  src/frontend/features/settings/SettingsDialog.tsx
Due: prettier, eslint

Warning from cdn.tailwindcss.com is now removed. Styling works via Tailwind postcss build path. Production now uses local CSS pipeline instead of CDN runtime injection
  src/frontend/index.css
  src/frontend/index.html
  src/frontend/index.tsx
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/postcss.config.js
  src/frontend/tailwind.config.js
Due: prettier, eslint

better chat text input sizing
  src/frontend/features/chat/components/ChatComposer.tsx
Due: prettier, eslint

fix “Thinking Process” expand/collapse
  src/frontend/features/chat/Chat.test.tsx
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/chat/components/CollapsibleToolSection.test.tsx
  src/frontend/features/chat/components/CollapsibleToolSection.tsx
Due: prettier, eslint

optimize instruction
  resources/config/instructions.json
Due: prettier

first round of documentation update
  README.md
  docs/user_manual/01_getting_started.md
  docs/user_manual/10_writing_a_story.md
  docs/user_manual/11_troubleshooting.md
  docs/user_manual/index.md
Due: prettier

update readme
  README.md
Due: prettier

Clarify setup
  .vscode/launch.json
  README.md
  src/frontend/vite.config.ts
Due: prettier, eslint

use links in README
  README.md
Due: prettier

enhance readme
  README.md
  docs/user_manual/01_getting_started.md
Due: prettier

update README
  README.md
Due: prettier

clarify sourcbook instructions
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/sourcebook_tools.py
Due: prettier

enhance Debug and logging
  src/augmentedquill/services/llm/llm_logging.py
  src/frontend/features/debug/DebugLogs.tsx
  tests/unit/services/test_llm_logging.py
Due: prettier, eslint

Enhance debugging and logging
  .vscode/launch.json
  docs/user_manual/08_appearance_and_display.md
  src/augmentedquill/services/llm/llm_logging.py
  tests/unit/services/test_llm_logging.py
Due: prettier

Add (virtual) tool call before current chapter is inserted as context
  src/augmentedquill/services/chat/chat_api_stream_ops.py
  tests/unit/services/test_chat_stream_ops.py
Due: none

fix logging for normal mode
  src/augmentedquill/services/llm/llm_logging.py
  tests/unit/services/test_llm_logging.py
Due: none

fix logging
  src/augmentedquill/services/llm/llm_stream_ops.py
Due: none

Set max_tokens to a better default
  resources/config/examples/story.json
  src/augmentedquill/core/config.py
  src/augmentedquill/services/settings/settings_api_ops.py
  src/frontend/types.ts
Due: prettier, eslint

update release logic
  .github/workflows/build-docker.yml
  .github/workflows/build-electron.yml
  .github/workflows/build-pyinstaller.yml
  .github/workflows/code-quality.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-release.yml
  .github/workflows/dependency-review.yml
Due: none

Add prerelease option to create-release workflow
  .github/workflows/create-release.yml
Due: none

trying to fix release action
  .github/workflows/create-release.yml
Due: none

try to fix TOKEN handling
  .github/workflows/create-release.yml
Due: none
