Repository StableLlamaAI/AugmentedQuill: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: src/frontend/node_modules/.bin/prettier --check
  language: system

eslint:
  name: eslint
  language: system
  entry: src/frontend/node_modules/.bin/eslint --config src/frontend/eslint.config.cjs

Potential fix for code scanning alert no. 83: Uncontrolled data used in path expression
  src/augmentedquill/services/projects/export_epub.py
Due: none

Fix current develop branch
  src/augmentedquill/services/projects/export_epub.py
  src/augmentedquill/services/projects/projects_api_asset_ops.py
Due: none

Optimize the release action
  .github/workflows/create-release.yml
Due: none

try again to have only relevant Assets for a release
  .github/workflows/create-release.yml
Due: none

additional try
  .github/workflows/create-release.yml
Due: none

Provide one relevant *.exe
  .github/workflows/create-release.yml
Due: none

only publish final applications
  .github/workflows/create-release.yml
Due: none

try to fix package creation
  .github/workflows/build-docker.yml
Due: none

try to fix Docker build and remove node version warnings
  .github/workflows/build-docker.yml
  .github/workflows/create-release.yml
Due: none

update Actions versions
  .github/workflows/build-docker.yml
  .github/workflows/code-quality.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-release.yml
  .github/workflows/dependency-review.yml
Due: none

try t oremove node version warnings
  .github/workflows/create-release.yml
Due: none

Better Docker tag handling
  .github/workflows/build-docker.yml
Due: none

try better Docker tag handling
  .github/workflows/build-docker.yml
Due: none

next try for better Docker tags
  .github/workflows/build-docker.yml
Due: none

trying again
  .github/workflows/build-docker.yml
Due: none

next try, lower case
  .github/workflows/build-docker.yml
Due: none

try again
  .github/workflows/build-docker.yml
Due: none

Next try to build Docker package
  .github/workflows/build-docker.yml
  .github/workflows/create-release.yml
Due: none

First round of screenshots
  README.md
  docs/user_manual/01_getting_started.md
  docs/user_manual/03_writing_interface.md
  docs/user_manual/09_tutorial_first_story.md
  docs/user_manual/screenshots/09_sourcebook.png
  docs/user_manual/screenshots/main.png
Due: prettier

Better short-story handling
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tool_decorator.py
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/story/story_generation_common.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_chat_tools.py
  tests/unit/services/test_story_api_prompt_ops.py
Due: prettier

Fix chapter requirement for short-story that has no chapters
  src/augmentedquill/services/chapters/chapter_helpers.py
  tests/unit/services/test_tool_parity.py
Due: none

Fix story contiunation through chatting
  resources/config/instructions.json
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_chat_tools.py
Due: prettier

Optimize UX with Chapter AI
  src/frontend/App.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/layout/header/HeaderCenterControls.test.tsx
  src/frontend/features/layout/header/HeaderCenterControls.tsx
  src/frontend/features/layout/layoutControlTypes.ts
Due: prettier, eslint

Enforece typographic quotes support in chapter and story content writing
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/augmentedquill/services/projects/project_chapter_ops.py
  src/augmentedquill/services/projects/project_story_ops.py
  src/augmentedquill/utils/json_repair.py
  tests/unit/utils/test_json_repair.py
Due: none

Stream in the writing
  src/augmentedquill/api/v1/chat.py
  src/augmentedquill/services/chat/chat_tools/chapter_tools.py
  src/frontend/App.tsx
  src/frontend/features/chat/useChatExecution.ts
  src/frontend/services/apiClients/chat.ts
  tests/unit/api/v1/test_rest_contracts.py
  tests/unit/services/test_chat_tool_contracts.py
  tests/unit/services/test_chat_tools.py
  tests/unit/services/test_scratchpad.py
  tests/unit/services/test_sourcebook_search_refinement.py
  tests/unit/services/test_tool_parity.py
  tests/unit/services/test_tool_symmetry.py
Due: prettier, eslint

Optimize main text area handling with streaming content and scrolling
  src/frontend/App.tsx
  src/frontend/features/editor/CodeMirrorEditor.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/layoutControlTypes.ts
  src/frontend/services/apiClients/chat.ts
Due: prettier, eslint

optimize further
  src/frontend/features/editor/Editor.tsx
Due: prettier, eslint

try to fix the code failure
  src/frontend/services/apiClients/chat.test.ts
Due: prettier, eslint

add dialog to show the scratchpad
  docs/user_manual/07_ai_chat_assistant.md
  src/frontend/App.tsx
  src/frontend/features/chat/Chat.test.tsx
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/chat/components/ChatHeader.tsx
  src/frontend/features/chat/useChatSessionManagement.test.ts
  src/frontend/features/chat/useChatSessionManagement.ts
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/layoutControlTypes.ts
Due: prettier, eslint

add regenerate button for paragraph suggestion
  src/frontend/features/editor/Editor.tsx
Due: prettier, eslint

Nicer handling of paragraph suggestions
  src/frontend/features/editor/Editor.tsx
Due: prettier, eslint

optimize Edit Story Metadata
  src/frontend/features/story/MetadataEditorDialog.tsx
Due: prettier, eslint

First round of accessibility improvement
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/layout/AppHeader.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/ConfirmDialog.test.tsx
  src/frontend/features/layout/ConfirmDialog.tsx
  src/frontend/index.css
Due: prettier, eslint

next round of accessibility
  src/frontend/features/chat/ToolCallLimitDialog.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/layout/AppHeader.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/ConfirmDialog.test.tsx
  src/frontend/features/layout/ConfirmDialog.tsx
  src/frontend/features/layout/useFocusTrap.ts
  src/frontend/features/projects/CreateProjectDialog.tsx
  src/frontend/features/projects/ProjectImages.tsx
  src/frontend/features/settings/SettingsDialog.tsx
  src/frontend/features/story/MetadataEditorDialog.tsx
Due: prettier, eslint

more accessibility work
  README.md
  src/frontend/eslint.config.cjs
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/settings/settings/SettingsMachine.tsx
  src/frontend/features/story/MetadataEditorDialog.tsx
  src/frontend/package-lock.json
  src/frontend/package.json
Due: prettier, eslint

next round
  src/frontend/components/ui/Button.tsx
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/layout/AppHeader.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/ConfirmDialog.tsx
  src/frontend/features/projects/CreateProjectDialog.tsx
  src/frontend/features/projects/ProjectImages.tsx
  src/frontend/features/settings/settings/SettingsProjects.tsx
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/features/sourcebook/SourcebookRelationDialog.tsx
  src/frontend/features/story/MetadataEditorDialog.tsx
  src/frontend/features/story/StoryMetadata.tsx
Due: prettier, eslint

more a11y
  src/frontend/features/chat/Chat.test.tsx
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/chat/ToolCallLimitDialog.tsx
  src/frontend/features/debug/DebugLogs.tsx
  src/frontend/features/debug/debugLogs.test.tsx
  src/frontend/features/editor/HeaderAppearanceControls.test.tsx
  src/frontend/features/editor/HeaderAppearanceControls.tsx
  src/frontend/features/layout/ConfirmDialog.test.tsx
  src/frontend/features/layout/ConfirmDialog.tsx
  src/frontend/features/layout/useFocusTrap.ts
  src/frontend/features/projects/CreateProjectDialog.tsx
  src/frontend/features/projects/ProjectImages.tsx
  src/frontend/features/settings/SettingsDialog.tsx
  src/frontend/features/story/MetadataEditorDialog.tsx
Due: prettier, eslint

some more a11y
  src/frontend/eslint.config.cjs
  src/frontend/features/chapters/ChapterList.tsx
  src/frontend/features/chat/Chat.tsx
  src/frontend/features/chat/components/ChatComposer.tsx
  src/frontend/features/chat/components/ChatHistoryPanel.tsx
  src/frontend/features/checkpoints/CheckpointsMenu.tsx
  src/frontend/features/debug/DebugLogs.tsx
  src/frontend/features/editor/Editor.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/layout/header/HeaderCenterControls.tsx
  src/frontend/features/layout/useFocusTrap.ts
  src/frontend/features/projects/ProjectImages.tsx
  src/frontend/features/settings/settings/SettingsMachine.tsx
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/features/sourcebook/SourcebookList.tsx
  src/frontend/features/sourcebook/SourcebookRelationDialog.tsx
  src/frontend/features/story/MetadataEditorDialog.tsx
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/tsconfig.json
Due: prettier, eslint

make it start again
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/package-lock.json
  src/frontend/package.json
Due: prettier, eslint

optimize a11y
  src/frontend/components/ui/Button.tsx
  src/frontend/features/chat/components/ChatHistoryPanel.tsx
  src/frontend/features/checkpoints/CheckpointsMenu.tsx
  src/frontend/features/editor/CodeMirrorEditor.tsx
  src/frontend/features/layout/AppMainLayout.tsx
  src/frontend/features/settings/SettingsDialog.tsx
  src/frontend/features/settings/settings/SettingsMachine.tsx
  src/frontend/features/sourcebook/SourcebookEntryDialog.tsx
  src/frontend/features/sourcebook/SourcebookList.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$, but not: ^(.*/)?(node_modules|dist|coverage)/.*$
  eslint: any of: ^src/frontend/.*\.(js|jsx|ts|tsx)$
